@media screen and (min-width: 624px){
	.wdg_sched_02{
		height:auto;
	    position: relative;
	    width: 300px;
		overflow: hidden;
		margin-bottom: 36px;
	}
	.wdg_sched_02 div.str_pleca_01_title h3{
		width:152px;
	}
	.wdg_sched_02 > div .full-timetable {
		display:none;
	}
	.wdg_sched_02 .seemore{
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		height: 24px;
		width: 100%;
		text-align: center;
		border-top: 1px solid #ccc;
		padding: 0;
		margin: 0;
		cursor: pointer;
		background-color: #f5f5f5;
	}
	.wdg_sched_02 .seemore a{
		float: right;
		height: 28px;
		width: 92px;
		text-align: center;
		line-height: 28px;
		background-color: #D9A961;
		color: #fff;
	}
	.wdg_sched_02 .degraded{
        bottom:70px;
	}
	.wdg_sched_02 > div:last-child {
		margin-top: 44px;
	}

	.wdg_sched_02 .nav .bgactive{
		background-color:#398218;
	}

	.wdg_sched_02 .nav .bgactive:hover{
		background-color:#59a529;
	}
	
	.wdg_sched_02 .nav .bginactive{
		background-color:#d7d7d7;
	}
	
	.wdg_sched_02 .nav .bginactive:hover{
		background-color:#59a529;
	}
	
	.wdg_sched_02 .nav .bgactive span{
		color:#FFF;
	}
	
	.wdg_sched_02 .nav .bginactive span{
		color:#fff;
	}
}