@media screen  {
	
	.wdg_contador_Header{
		margin: 0;
		width: 300px;
		height: 67px;
		color: #FFF;
		position: relative;
		background-color: #398218;
		max-width: 300px;
	}

	.wdg_contador_Header .title_contador_header{
		font-size: 12px;		
		padding: 4px 0 4px 12px;
		display: block;		
	}
	.wdg_contador_Header .countdown-row, .wdg_contador_Header .right_contador_header{
		width: 195px;
		display: inline-block;
		*float: left;
		vertical-align: top;
		margin-bottom: 9px;
	}
	.wdg_contador_Header .countdown-section{
		width: 45px;
		overflow: hidden;
		height: 45px;
		display: inline-block;
		float: left;
		position: relative;
		vertical-align: top;
		margin-left: -4px;
		margin-right: 6px;


	}
	.wdg_contador_Header .countdown-section:after{
		content: " ";		
		border-left: 1px dotted #FFF;
		position: absolute;
		z-index: 1;
		top: 9px;
		right: 0;


		
	}
	.wdg_contador_Header .countdown-section:nth-child(1){
		margin-left: 0;
	}
	.wdg_contador_Header .countdown-section .countdown-amount{
		font-size: 20px;
		font-style: italic;
		display: block;
		text-align: center;

		background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat left;
/*		background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y right !important;
*/
	}


	.wdg_contador_Header .countdown-section .countdown-period{
		display: block;
		font-size: 11px;
		text-align: center;
		padding-top: 2px;
		/*margin-top: -5px;*/
		font-style: italic;
		background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat left ;
/*		background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y right !important;
*/
	}

		.wdg_contador_Header .countdown-section:first-child .countdown-amount, .wdg_contador_Header .countdown-section:first-child .countdown-period{
		background: none!important;
}


	.wdg_contador_Header .right_contador_header{
		width: 88px;
		height: 34px;
		overflow: hidden;
		position: relative;
	}
	.wdg_contador_Header .right_contador_header img{
		width: 100%;
		height: 100%;
		display: block;
	}


/*ESTADO 2 CONECTA*/
	.wdg_contador_Header_conecta{
		margin: 0;
		width: 300px;
		height: 67px;
		color: #FFF;
		position: relative;
		background-color: #eab11d;
		max-width: 300px;
		padding: 0;
		overflow: visible;
	}
	.wdg_contador_Header_conecta .title_contador_header_conecta{
		font-family: Trebuchet MS;
		font-weight: bold;
		font-style: italic !important;
		font-size: 18px;
		letter-spacing:-1px;
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
		position: absolute;
		top: 4px;
		left: 13px;
	}
	.wdg_contador_Header_conecta .title_contador_header_conecta a{
		color: #fff;
	}

	.wdg_contador_Header_conecta .imgconect{
		position: relative;
		margin-left: 70px;
		margin-top: 0px;
	}

	.wdg_contador_Header_conecta .right_contador_header_conecta{
		overflow: visible;
		position: relative;
		padding-top: -3px;
		vertical-align: middle;
	}
	.wdg_contador_Header_conecta .right_contador_header_conecta .logocomercial{
		position: relative;
		float: right;
		margin-right: 10px;
		margin-top: -10px;

	}

	.right_contador_header_conecta .wdg_paises{
		color: #775a0e;
		display: inline;
		font-family: Trebuchet MS;
		font-weight: bold;
		font-size: 15px;
		letter-spacing:-1px;
		position: relative;
		padding:0 10px;
		margin-top: 4px !important;


	}
	.right_contador_header_conecta .wdg_paises div{
			display: inline;
		/*	padding: 4px;*/
			position: relative;
			margin-bottom: -2px;
	}
	.right_contador_header_conecta .wdg_paises div:first-child{
	padding-right: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y right !important;
	}
		.right_contador_header_conecta .wdg_paises div:last-child{
	padding-left: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y left !important;
	}
	
	img.imgbanderaCon {
		width: 24px;
		height:18px;
	}

	.right_contador_header_conecta .wdg_paises img{
			margin:0 5px;
	}

	.vs_wdg_paises{
		/*content: " ";*/		

		/*border-left: 1px dotted #232323 !important;
		border-right: 1px dotted #232323 !important;*/
		position: absolute;
		z-index: 1;
		padding:0 10px;
		margin-left: 4px;
		font-style: italic;
		font-size: 14px;


		/*top: 9px;
		right: 0;
		height: 30px;*/
	}
	.right_contador_header_conecta .wdg_paises .vs_wdg_paises{
		vertical-align: top;
	}

/*ESTADO 3 VIVO*/
	.wdg_contador_Header_vivo{
		margin: 0;
		width: 300px;
		height: 67px;
		color: #FFF;
		position: relative;
		background-color: #eab11d;
		max-width: 300px;
		padding: 0;
		overflow: visible;
		display: inline-block;
		vertical-align: middle;

	}

		.wdg_contador_Header_vivo a>img{
		position: absolute;
		top: 10px;
		left: 10px;

	}
	.wdg_contador_Header_vivo .title_contador_header_vivo{
		font-family: Trebuchet MS;
		font-weight: bold;
		font-style: italic !important;
		font-size: 14px;
		letter-spacing:0px;
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
		position: absolute;
		top: 6px;
		left: 44px;
		z-index: 99;
	}
	.wdg_contador_Header_vivo .title_contador_header_vivo a{
		color: #fff;
	}

	.separador{
		font-family: Trebuchet MS;
		font-weight: normal;
		font-style: italic !important;
		font-size: 14px;
		letter-spacing:0px;
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
		position: absolute;
		top: 4px;
		left: 34px;
	}
	.wdg_contador_Header_vivo a .title_contador_header_vivo img{
		position: absolute;
		top: 2px;
		left: 140px;
	}

	.wdg_contador_Header_vivo .right_contador_header_vivo{
		overflow: visible;
		position: relative;
		padding-top: 33px;
	}
	.wdg_contador_Header_vivo .right_contador_header_vivo .logocomercial{
		position: relative;
		float: right;
		margin-right: 19px;
		margin-top: -19px;

	}

	.right_contador_header_vivo .wdg_paises{
		color: #775a0e;
		display: inline;
		font-family: Trebuchet MS;
		font-weight: bold;
		font-size: 15px;
		letter-spacing:-1px;
		position: relative;
		padding:0 10px;
		margin-top: 11px !important;

	}
	.right_contador_header_vivo .wdg_paises div{
			display: inline;
/*			padding: 4px;
*/			position: relative;
			margin-bottom: -2px;
	}

	.right_contador_header_vivo .wdg_paises div:first-child{
	padding-right: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y right !important;
	}
		.right_contador_header_vivo .wdg_paises div:last-child{
	padding-left: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png")repeat-y left !important;
	}

	.right_contador_header_vivo .wdg_paises img{
			margin:0 5px;
	}

	.right_contador_header_vivo .wdg_paises .vs_wdg_paises{
		vertical-align: top;
	}

	.wdg_contador_aside{
		background-color: green;
		color: white !important;
		width: 120px;
		height: 67px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 12px;

		font-family: Trebuchet MS;
		font-weight: 100;
		font-style: italic;
		font-size: 12px;
		letter-spacing:-0.3px;
		line-height: 14px;
		padding-left: 5px;

	}
		.wdg_contador_aside img{
		display: block;
		margin-bottom: 5px;
		}
.wdg_contador_aside  a{
		color: white;
		}

.wdg_contador_aside  span:last-child{
		font-size: 14px;

}
	



/*ESTADO 4 revive*/
	.wdg_contador_Header_revive {
		margin: 0;
		width: 300px;
		height: 67px;
		color: #FFF;
		position: relative;
		background-color: #398218;
		max-width: 300px;
		padding: 0;
		overflow: visible;
		display: inline-block;
		vertical-align: middle;

	}

		.wdg_contador_Header_revive a>img{
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.wdg_contador_Header_revive img.imgfx{
		position: relative;
		top: 5px;
		left: 5px;
	}

	.wdg_contador_Header_revive >.title_contador_header_revive{
		font-family: Trebuchet MS;
		font-weight: bold;
		font-style: italic !important;
		font-size: 14px;
		letter-spacing:0px;
		color: #ffffff;
/*		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
*/		position: absolute;
		top: 6px;
		left: 44px;

	}

	.wdg_contador_Header_revive >.title_contador_header_revive a{color: #fff;}

	.separador_revive{
		font-family: Trebuchet MS;
		font-weight: normal;
		font-style: italic !important;
		font-size: 14px;
		letter-spacing:0px;
		color: #ffffff;
/*		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
*/		position: absolute;
		top: 4px;
		left: 34px;
	}
	.wdg_contador_Header_revive a .title_contador_header_revive img{
		position: absolute;
		top: 2px;
		left: 140px;
	}

	.wdg_contador_Header_revive  .right_contador_header_revive{
		overflow: visible;
		position: relative;
		padding-top: 15px;
		vertical-align: middle;
	}
	.wdg_contador_Header_revive  .right_contador_header_revive .logocomercial{
		position: relative;
		float: right;
		margin-right: 19px;
		margin-top: -21px;
	}

	.right_contador_header_revive .wdg_paises{
		color: white;
		display: inline;
		font-family: Trebuchet MS;
		font-weight: bold;
		font-size: 15px;
		letter-spacing:-1px;
		position: relative;
		padding:0 10px;
		margin-top: 11px !important;

	}
	.right_contador_header_revive .wdg_paises div{
			display: inline;
/*			padding: 4px;
*/			position: relative;
			margin-bottom: -2px;
	}

	.right_contador_header_revive .wdg_paises div:first-child{
	padding-right: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat right !important;
	}
	.right_contador_header_revive .wdg_paises div:last-child{
	padding-left: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat left !important;
	}

	.right_contador_header_revive .wdg_paises img{
			margin:0 5px;
	}

	.right_contador_header_revive .wdg_paises .vs_wdg_paises{
		vertical-align: top;

	}

	.wdg_contador_aside_revive{
		background-color: #A42726;
		color: white;
		width: 120px;
		height: 67px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 12px;

		font-family: Trebuchet MS;
		font-weight: 100;
		font-style: italic;
		font-size: 11px;
		letter-spacing:-0.3px;
		line-height: 14px;
		padding-left: 5px;


	}
		.wdg_contador_aside_revive img{
		position: absolute;
		bottom: 2px;
		}

.wdg_contador_aside_revive span{
		position: absolute;
		top: 5px;
		left: 12px;

}
.wdg_contador_aside_revive a{
	color: white;
}

.wdg_contador_aside_revive .line {
border-top: 1px solid #fff;
height: 8px;
width: 18px;
margin-top: 22px;
margin-left: 8px;
opacity: 0.6;
}

/*ESTADO 5 Próximo partido*/

.wdg_contador_Header_proximo{
		margin: 0;
		width: 300px;
		height: 67px;
		color: #FFF;
		position: relative;
		background-color: #398218;
		max-width: 300px;
		padding: 0;
		overflow: visible;
		display: inline-block;
		vertical-align: middle;

	}

		.wdg_contador_Header_proximo>img{
		position: absolute;
		top: 8px;
		left: 12px;

	}
	.wdg_contador_Header_proximo .title_contador_header_proximo{
		font-family: Trebuchet MS;
		font-weight: normal;
		font-style: normal; 
		font-size: 12px;
		letter-spacing:0px;
		color: #ffffff;
/*		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
*/		position: absolute;
		top: 5px;
		z-index: 99;
		left: 44px;

	}
	.wdg_contador_Header_proximo .title_contador_header_proximo a{ color: #fff;}

	.separador_proximo{
		font-family: Trebuchet MS;
		font-weight: normal;
		font-style: italic !important;
		font-size: 14px;
		letter-spacing:0px;
		color: #ffffff;
/*		text-shadow: 1px 1px 1px rgba(177, 129, 6, 1);	
*/		position: absolute;
		top: 4px;
		left: 34px;
	}
	.wdg_contador_Header_proximo .title_contador_header_proximo img{
		position: absolute;
		top: 4px;
		left: 140px;
	}

	.wdg_contador_Header_proximo .right_contador_header_proximo{
		overflow: visible;
		position: relative;
		padding-top: 26px;
	}
	.wdg_contador_Header_proximo .right_contador_header_proximo .logocomercial{
		position: relative;
		float: right;
		margin-right: 10px;
		margin-top: -2px;

	}

	.right_contador_header_proximo .wdg_paises{
		color: white;
		display: inline;
		font-family: Trebuchet MS;
		font-weight: bold;
		font-size: 15px;
		letter-spacing:-1px;
		position: relative;
		padding:0 10px;
		margin-top: 11px !important;

	}
	.right_contador_header_proximo .wdg_paises div{
			display: inline;
/*			padding: 4px;
*/			position: relative;
			margin-bottom: -2px;
	}

	.right_contador_header_proximo .wdg_paises div:first-child{
	padding-right: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat right top !important;

	}
		.right_contador_header_proximo .wdg_paises div:last-child{
	padding-left: 4px;
	background: url("http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png")no-repeat left top !important;

	}

	.right_contador_header_proximo .wdg_paises img{
			margin:0 5px;
	}

	.right_contador_header_proximo .wdg_paises .vs_wdg_paises{
		vertical-align: top;
	/*	font-style: normal;
		font-size: 11px;
		font-weight: normal;*/
	}

	.wdg_contador_aside_proximo{
		background-color: #A42726;
		color: white;
		width: 120px;
		height: 67px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 12px;

		font-family: Trebuchet MS;
		font-weight: 100;
		font-style: italic;
		font-size: 11px;
		letter-spacing:-0.3px;
		line-height: 14px;
		padding-left: 5px;


	}
		.wdg_contador_aside_proximo img{
		position: absolute;
		bottom: 2px;
		}

.wdg_contador_aside_proximo span{
		position: absolute;
		top: 5px;
		left: 12px;

}
.wdg_contador_aside_proximo a{
	color: white;
}

.wdg_contador_aside_proximo .line {
border-top: 1px solid #fff;
height: 8px;
width: 18px;
margin-top: 22px;
margin-left: 8px;
opacity: 0.6;
}

.wdg_contador_Header_proximo .countdown-section_proximo .fecha{
		display: block;
		font-size: 11px;
		padding-top: 0px;
		margin-top: -2px;
		font-style: italic;
		padding-left: 55px;

	}	
}