
@font-face {
    font-family: 'tvsaroman';
    src: url('tvsa-roman-webfont.eot');
}
@font-face {
    font-family: 'tvsaroman';
    src: url('http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-roman-webfont.woff') format('woff'),
        url('http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-roman-webfont.svg') format('svg'),
        url('http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-roman-webfont.ttf') format('truetype'),
        url('http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-roman-webfont.eot') format('opentype');
    font-weight: normal;
    font-style: normal;
}
    
    [class^="tvsa-"],[class*=" tvsa-"]{font-family:'tvsaroman';font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}
    .icon-white,.nav-pills>.active>a>[class^="tvsa-"],
    .nav-pills>.active>a>[class*=" tvsa-"],
    .nav-list>.active>a>[class^="tvsa-"],
    .nav-list>.active>a>[class*=" tvsa-"],
    .navbar-inverse .nav>.active>a>[class^="tvsa-"],
    .navbar-inverse .nav>.active>a>[class*=" tvsa-"],
    .dropdown-menu>li>a:hover>[class^="tvsa-"],
    .dropdown-menu>li>a:hover>[class*=" tvsa-"],
    .dropdown-menu>.active>a>[class^="tvsa-"],
    .dropdown-menu>.active>a>[class*=" tvsa-"],
    .dropdown-submenu:hover>a>[class^="tvsa-"],
    .dropdown-submenu:hover>a>[class*=" tvsa-"]{background-image:none}
    [class^="tvsa-"]:before,
    [class*=" tvsa-"]:before{text-decoration:inherit;display:inline-block;speak:none}
    a [class^="tvsa-"],a [class*=" tvsa-"]{display:inline-block}
    .tvsa-large:before{vertical-align:-10%;font-size:1.3333333333333333em}
    .btn [class^="tvsa-"],
    .nav [class^="tvsa-"],
    .btn [class*=" tvsa-"],
    .nav [class*=" tvsa-"]{display:inline}
    .btn [class^="tvsa-"].tvsa-large,
    .nav [class^="tvsa-"].tvsa-large,
    .btn [class*=" tvsa-"].tvsa-large,
    .nav [class*=" tvsa-"].tvsa-large{line-height:.9em}
    .btn [class^="tvsa-"].tvsa-spin,
    .nav [class^="tvsa-"].tvsa-spin,
    .btn [class*=" tvsa-"].tvsa-spin,
    .nav [class*=" tvsa-"].tvsa-spin{display:inline-block}
    .nav-tabs [class^="tvsa-"],
    .nav-pills [class^="tvsa-"],
    .nav-tabs [class*=" tvsa-"],
    .nav-pills [class*=" tvsa-"],
    .nav-tabs [class^="tvsa-"].tvsa-large,
    .nav-pills [class^="tvsa-"].tvsa-large,
    .nav-tabs [class*=" tvsa-"].tvsa-large,
    .nav-pills [class*=" tvsa-"].tvsa-large{line-height:.9em}
    li [class^="tvsa-"],
    .nav li [class^="tvsa-"],
    li [class*=" tvsa-"],
    .nav li [class*=" tvsa-"]{display:inline-block;width:1.25em;text-align:center}
    li [class^="tvsa-"].tvsa-large,
    .nav li [class^="tvsa-"].tvsa-large,
    li [class*=" tvsa-"].tvsa-large,
    .nav li [class*=" tvsa-"].tvsa-large{width:1.5625em}
    ul.icons{list-style-type:none;text-indent:-0.75em}
    ul.icons li [class^="tvsa-"],
    ul.icons li [class*=" tvsa-"]{width:.75em}
    .tvsa-muted{color:#515151}
    .tvsa-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
    .tvsa-2x{font-size:2em}
    .tvsa-2x.tvsa-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
    .tvsa-3x{font-size:3em}
    .tvsa-3x.tvsa-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
    .tvsa-4x{font-size:4em}
    .tvsa-4x.tvsa-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
    .pull-right{float:right}
    .pull-left{float:left}
    [class^="tvsa-"].pull-left,
    [class*=" tvsa-"].pull-left{margin-right:.3em}
    [class^="tvsa-"].pull-right,
    [class*=" tvsa-"].pull-right{margin-left:.3em}
    .btn [class^="tvsa-"].pull-left.tvsa-2x,
    .btn [class*=" tvsa-"].pull-left.tvsa-2x,
    .btn [class^="tvsa-"].pull-right.tvsa-2x,
    .btn [class*=" tvsa-"].pull-right.tvsa-2x{margin-top:.18em}
    .btn [class^="tvsa-"].tvsa-spin.tvsa-large,
    .btn [class*=" tvsa-"].tvsa-spin.tvsa-large{line-height:.8em}
    .btn.btn-small [class^="tvsa-"].pull-left.tvsa-2x,
    .btn.btn-small [class*=" tvsa-"].pull-left.tvsa-2x,
    .btn.btn-small [class^="tvsa-"].pull-right.tvsa-2x,
    .btn.btn-small [class*=" tvsa-"].pull-right.tvsa-2x{margin-top:.25em}
    .btn.btn-large [class^="tvsa-"],
    .btn.btn-large [class*=" tvsa-"]{margin-top:0}
    .btn.btn-large [class^="tvsa-"].pull-left.tvsa-2x,
    .btn.btn-large [class*=" tvsa-"].pull-left.tvsa-2x,
    .btn.btn-large [class^="tvsa-"].pull-right.tvsa-2x,
    .btn.btn-large [class*=" tvsa-"].pull-right.tvsa-2x{margin-top:.05em}
    .btn.btn-large [class^="tvsa-"].pull-left.tvsa-2x,
    .btn.btn-large [class*=" tvsa-"].pull-left.tvsa-2x{margin-right:.2em}
    .btn.btn-large [class^="tvsa-"].pull-right.tvsa-2x,
    .btn.btn-large [class*=" tvsa-"].pull-right.tvsa-2x{margin-left:.2em}
/* Animated rotating icon */
.tvsa-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .tvsa-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.btn .tvsa-spin{height:auto}
.tvsa-spin.tvsa-large{height:1.25em}
.btn .tvsa-spin.tvsa-large{height:.75em}
}
    
    /** start icon definitions **/
    .tvsa-televisa:before{content:"\0041"}
    .tvsa-rain-sun:before{content:"\0046"}
    .tvsa-thunder-moon:before{content:"\0043"}
    .tvsa-wind:before{content:"\0045"}
    .tvsa-sun:before{content:"\0042"}
    .tvsa-cloud:before{content:"\0047"}
    .tvsa-cloud-moon:before{content:"\0023"}
    .tvsa-cloud-sun:before{content:"\0044"}
    .tvsa-thunder:before{content:"\0049"}
    .tvsa-snow:before{content:"\004A"}
    .tvsa-snow-moon:before{content:"\0074"}
    .tvsa-rain:before{content:"\0048"}
    .tvsa-rain-moon:before{content:"\00A1"}
    .tvsa-moon:before{content:"\004C"}
    .tvsa-music:before{content:"\004E"}
    .tvsa-headphones:before{content:"\004F"}
    .tvsa-headphones-play:before{content:"\005A"}
    .tvsa-videocamera:before{content:"\0058"}
    .tvsa-camera:before{content:"\004B"}
    .tvsa-video:before{content:"\0053"}
    .tvsa-images:before{content:"\0054"}
    .tvsa-twitter:before{content:"\0055"}
    .tvsa-facebook:before{content:"\0056"}
    .tvsa-like:before{content:"\0057"}
    .tvsa-instagram:before{content:"\0052"}
    .tvsa-pinterest:before{content:"\002A"}
    
    .tvsa-warn:before{content:"\0050"}
    .tvsa-error:before{content:"\0051"}
    .tvsa-info:before{content:"\005C"}
    .tvsa-help:before{content:"\2022"}
    .tvsa-success:before{content:"\0061"}
    
    .tvsa-eye:before{content:"\0068"}
    .tvsa-eye-alt:before{content:"\0062"}
    .tvsa-hash:before{content:"\0063"}
    .tvsa-bell:before{content:"\0064"}
    .tvsa-cog:before{content:"\0065"}
    .tvsa-alarm:before{content:"\0066"}
    .tvsa-clock:before{content:"\0067"}
    .tvsa-mic:before{content:"\004D"}
    .tvsa-feed:before{content:"\006B"}
    .tvsa-podcast:before{content:"\006D"}
    .tvsa-calendar:before{content:"\006A"}
    .tvsa-comments:before{content:"\006F"}
    .tvsa-comments-play:before{content:"\0070"}
    .tvsa-search:before{content:"\0069"}
	.tvsa-home:before{content:"\002F"}
    .tvsa-email:before{content:"\003B"}
    .tvsa-inbox:before{content:"\005F"}
    .tvsa-nike:before{content:"\0079"}

    /* media player */
    .tvsa-volume-mute:before{content:"\0030"}
    .tvsa-volume-min:before{content:"\0031"}
    .tvsa-volume-medium:before{content:"\0032"}
    .tvsa-volume-max:before{content:"\0033"}
    .tvsa-previous:before{content:"\0034"}
    .tvsa-rewind:before{content:"\0035"}
    .tvsa-pause:before{content:"\0036"}
    .tvsa-play:before{content:"\0037"}
    .tvsa-forward:before{content:"\0038"}
    .tvsa-next:before{content:"\0039"}
    .tvsa-fullscreen:before{content:"\002E"}
    .tvsa-minimize:before{content:"\00B7"}
    .tvsa-download:before{content:"\003F"}
    .tvsa-expand:before{content:"\00BF"}
    .tvsa-contract:before{content:"\0022"}
    .tvsa-popout:before{content:"\0027"}
    .tvsa-replay:before{content:"\0026"}

    /* devices */
    .tvsa-digital-tv:before{content:"\0072"}
    .tvsa-tablet:before{content:"\0071"}
    .tvsa-mobile:before{content:"\006C"}
    
    /* navigational */
    .tvsa-caret-up:before{content:"\003A"}
    .tvsa-caret-down:before{content:"\002C"}
    .tvsa-caret-right:before{content:"\2026"}
    .tvsa-caret-left:before{content:"\0021"}
	.tvsa-double-caret-up:before{content:"\0024"}
    .tvsa-double-caret-down:before{content:"\0025"}
    .tvsa-double-caret-left:before{content:"\0029"}
    .tvsa-double-caret-right:before{content:"\0028"}
    .tvsa-arrow:before{content:"\0078"}
    .tvsa-spinner:before{content:"\007A"}
    
	/* traffic */
    .tvsa-map-marker:before{content:"\0075"}
    .tvsa-traffic-stop:before{content:"\0077"}
    .tvsa-traffic-circle:before{content:"\0076"}
	
	/* Mxm */
	.tvsa-mxm-goal:before{content:"\0059"}
    .tvsa-mxm-owngoal:before{content:"\007C"}
    .tvsa-mxm-penaltykick:before{content:"\002B"}
	.tvsa-mxm-crossbar:before{content:"\00F7"}
    .tvsa-mxm-out:before{content:"\00AC"}
	.tvsa-mxm-block:before{content:"\00A2"}
	
	.tvsa-mxm-foul:before{content:"\0040"}
    .tvsa-mxm-yellowcard:before{content:"\00E7"}
    .tvsa-mxm-secondyellowcard:before{content:"\00C7"}
    .tvsa-mxm-redcard:before{content:"\20AC"}
	.tvsa-mxm-offside:before{content:"\005E"}
    .tvsa-mxm-cornerkick:before{content:"\0060"}
	
    .tvsa-mxm-startfirsthalf:before{content:"\006E"}
    .tvsa-mxm-startsecondhalf:before{content:"\0073"}
    .tvsa-mxm-startovertime:before{content:"\00B4"}
	.tvsa-mxm-startextrafirsthalf:before{content:"\201C"}
    .tvsa-mxm-startextrasecondhalf:before{content:"\201D"}
    .tvsa-mxm-penalties:before{content:"\00A5"}
    .tvsa-mxm-gameend:before{content:"\002D"}
	
	.tvsa-mxm-playerin:before{content:"\005D"}
	.tvsa-mxm-playerout:before{content:"\005B"}
	.tvsa-mxm-statisticdata:before{content:"\007D"}
    .tvsa-mxm-comment:before{content:"\007B"}