@media screen and (min-width: 624px){
    
	.mix_1player_01
    {
        width: 624px;
        overflow:hidden;
        margin-bottom: 36px;
    }
	
	.mix_1player_01 .left_div {
        width: 280px;
        padding-bottom: 20px;
		margin-right: 20px;
        float: left;
        max-height: 400px;
        position: relative;
		font-size:12px;
		border-bottom: 1px solid #CCC;
		margin-bottom:24px;
		font-style:italic;
    }
	
	.mix_1player_01 .mix_img
    {
        padding-right: 24px;
		padding-bottom: 10px;
    }
	.mix_1player_01 .mix_img img
    {
        width: 280px;
        max-height: 370px;
		margin-bottom:5px;
    }
	
	.mix_1player_01 .right_div {
		float:left;
		width: 320px;
		margin-bottom:11px;
		margin-top:0px;
	}
	
	.mix_1player_01 .art_contenido
    {
        float: left;
        width: 320px;
        font-size: 14px;
        line-height: 14px;
        padding-right: 0px;
		margin-left: 0px;
    }
	
	.mix_1player_01 .art_right_text
    {
        float: left;
        margin-left:0px;
		top: -3px;
    }
    
	.mix_1player_01 .descripcion {
		font-size:14px;
		padding-left:24px;
	}
	.mix_1player_01 .descripcion p{		
		padding-right: 0;
	}
	.mix_1player_01 .left_div .overlay{
		left:0;
		margin-top:0;
		background: none;
		padding:0;	
		height: inherit;
		position: relative;
		width: 100%;
	}    
}