@media screen and (min-width: 948px){
    /*Wrap*/
    .td_note_mx_01 .main{
        width: 948px;
    }
	/* 100 porciento */
    .td_note_mx_01 .main .c1{
		width:100%;
		clear:both;
		overflow:visible;
	}	
	/* Flotan a la izq */
	.td_note_mx_01 .main .c2{
		float:left;
		width: 624px;
		clear:none;
	}
	/* Flotan a la der */
	.td_note_mx_01 .main .c3,
	.td_note_mx_01 .main .c4,
	.td_note_mx_01 .main .c5{
		width: 300px;
		clear:none;
	} 
	/*bloques*/	
	.td_note_mx_01 .main .c3_1,
	.td_note_mx_01 .main .c3_2,
	.td_note_mx_01 .main .c3_3,
	.td_note_mx_01 .main .c3_4,
	.td_note_mx_01 .main .c3_5,
	.td_note_mx_01 .main .c3_6,
	.td_note_mx_01 .main .c3_7,
	.td_note_mx_01 .main .c3_8{
		clear:both;
		overflow:hidden;
		float:none;
	}
	.td_note_mx_01  .main ul li a,
    .td_note_mx_01  .main ul li{
       background-color:#efefef\9;
       background-color:#efefef\0/;
    }
    .ie7 .td_note_mx_01  .main ul li a,
    .ie7 .td_note_mx_01  .main ul li{
       background-color:#efefef;
    }
    .td_note_mx_01  .main ul li.separator{
       background-color:#fff\9;
       background-color:#fff\0/;
    }
    .ie7 .td_note_mx_01  .main ul li.separator{
       background-color:#fff;
    }
    .td_note_mx_01 .main ul.dropdown li a{
       background-color:#fff\9;
       background-color:#fff\0/;
    }
    .ie7 .td_note_mx_01 .main ul.dropdown li a{
       background-color:#fff;
    }
    .td_note_mx_01 .main ul.dropdown li a:hover{
       background-color:#A70A0B\9;
       background-color:#A70A0B\0/;
    }
    .ie7 .td_note_mx_01 .main ul.dropdown li a:hover{
       background-color:#A70A0B;
    }
    .td_note_mx_01   li.station a,
    .td_note_mx_01   li.social a{
        border-left:none\9!important;
        border-top:none\9!important;
        background-color:#efefef\9;
        border:0px\9;
        
        border-left:none\0/!important;
        border-top:none\0/!important;
        background-color:#efefef\0/;
        border:0px\0/;
    }
    .ie7 .td_note_mx_01   li.station a,
    .ie7 .td_note_mx_01   li.social a{
        border-left:none!important;
        border-top:none!important;
        background-color:#efefef;
        border:0px;
    }
}