@media screen { 
	.td_note_mx_01{
		overflow: hidden;
		width: 100%;
    }
    /* Encabezado */ 
    .td_note_mx_01 .header01{
		margin-bottom:0px !important;
    }
    /*Wrap*/
    .td_note_mx_01 .main{
        width: 100%;
    }
    /*Todos los divs contenedores primarios se hacen al 100%*/
	.td_note_mx_01 .main .c2,
	.td_note_mx_01 .main .c3{
		width:100%;
		overflow:hidden;
	}
	.td_note_mx_01 .main .c1_2{
		text-align: center;
		display: block;
	}
	.td_note_mx_01 .main .c2_3{
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	
	.td_note_mx_01 .main .c2_4{
		background: none;
		margin-top:11px;
	}
	.td_note_mx_01 .c3_1{
		width:100%;
	}
	.td_note_mx_01 .c3_4{
		clear:both;
		width:100%;
	}
	.td_note_mx_01 .c3_7{
		clear: both;
		float: right;
		width: 100%;
	}
}