@media screen { 
    /* Encabezado */ 
    .td_home_main_01 .nav_header_01{
		margin-bottom:0px !important;
    }
    /*Wrap*/
    .td_home_main_01 .main{
        width: 100%;
		position:relative;
    }
    /*Todos los divs contenedores primarios se hacen al 100%*/
	.td_home_main_01 .main > div{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	.td_home_main_01 .main .c3_2,
	.td_home_main_01 .main .c7_2,
	.td_home_main_01 .main .c7_5{
		width:100%;
	}
	.td_home_main_01 .main .c5_5{
		display:block;
		width:100%;
		height:70;
		padding-top:6px;
		margin:auto;
		text-align:center;
	}
	.td_home_main_01 .main .c3_1
	{
		width:100%;
	}
	
	.td_home_main_01 .ads_combo_01 .desktop_banner {
        display: block;
    }
    .td_home_main_01 .ads_combo_01 .desktop_banner .publicidad1{
        display: block;
        float:none!important;
        text-align:center;
    }
    .td_home_main_01 .ads_combo_01 .desktop_banner .publicidad2,
    .cover_box{
        display: none;
    }
	
	footer{
	border-radius:0.5em;
	color:#245370;
	margin-top:0.4em;
	text-align:left;
}

/*Contenedor*/

    #content {
        margin:84px auto;
        text-align: center;
        width: 320px;
    }

    section article h1 {
        color: #8f8f8f;
        font-family: "Trebuchet MS";
        font-size: 23px;
        font-style: italic;
        font-weight: normal;
        line-height: 23px;
        margin:36px 0;
    }

    #content {
        
    }

    #circle img {
        margin: auto;
    }

    .descargar{
        color: #8f8f8f;
        display: block;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        padding: 24px 0 24px;
    }

    article {
        border-bottom: 1px dashed #ccc;
    }

    article ul li {
        background: #ccc;
        -moz-border-radius: 15px; 
        -webkit-border-radius: 15px; 
        border-radius: 15px;
        display: inline-block;
        height: 30px;
        margin: 0 8px 42px;
        width: 30px;

    }

    form.site_search1 {
        margin-top: 36px;
    }

    form.site_search1 input.search_term {
        color:#999;
        border: none;
        height: 32px;
        font-style: italic;
        padding: 0 10px;
    }

    form.site_search1 button.search_submit{
        background: #ccc;
        -webkit-box-shadow: inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
        box-shadow: inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
        color:#fff;
        font-style: italic;
        height: 32px;
        width: 32px;
        border: none;
    }

	@media screen{ 

    /*Fondo.....*/
	.nav_corft_01_sprite {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/global-sprites.png) no-repeat 0 0;
        display: inline-block;
        height: 10px;
        overflow: hidden;
        text-indent: -1584px;
        width: 10px;
    }
    .nav_corft_01_sprite.logo {
        background-position: -270px -40px;
        height: 21px;
        width: 30px;
        margin-right: 6px;
    }
	/*END Fondo*/
	
    .nav_corft_01 .noticias {
        background-color: green;
    }
    .nav_corft_01 .deportes {
        background-color: #a41d21;
    }
    .nav_corft_01 .entretenimiento {
        background-color: #edba1f;
    }
    .nav_corft_01 .ninos {
        background-color: #3eb9b6;
    }
    .nav_corft_01 .estilo {
        background-color: #6daa49;
    }
    .nav_corft_01 .television {
        background-color: #f78429;
    }
    .nav_corft_01 footer {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    .nav_corft_01 footer div.shortcut-home{
        display: none;
    }

    .nav_corft_01 footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav_corft_01 footer ul li {
        color: #fff;
        padding: 13px;
        padding-left: 21px;
        display: none;
    }
    .nav_corft_01 footer ul li span {
        float: right;
        margin: 21px 21px 0 0;
        padding: 0;
    }
    .nav_corft_01 footer ul li a {
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        color: #fff;
    }
    .nav_corft_01 footer ul li > ul {
        display: none;
    }
    .nav_corft_01 footer .icon {
        display: inline-block;
        height: 16px;
        overflow: hidden;
        text-indent: -1584;
        width: 12px;
        background: transparent url(../img/footer/sprites-mobile.png) no-repeat -23px -265px;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
    .nav_corft_01 footer div .legal {
        padding: 15px 0;
        position: relative;
        overflow: hidden;
    }

.nav_corft_01 footer div .legal div.row nav {
        display: none;
       }

	.nav_corft_01 .landscape {
		display:none;
    }
    .nav_corft_01 footer div.row {    
        /*padding-top: 10px;*/
        padding-left: 7px;
        padding-bottom: 25px;
        font-style: italic;
        overflow: hidden;
        float: none;
        width: auto;
        margin-left: 0px;
        margin-bottom: 15px;
        border-left: solid 1px #ccc;
        max-height: 10px;        
    }
    .nav_corft_01 footer div.row nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
    }
    .nav_corft_01 footer div.row nav ul {
        overflow: hidden;
        width: 100%;
    }

    .nav_corft_01 footer div.row nav ul li {
        color: #5D5D5D;
        display: block;
        padding: 4px 0;
    }
    .nav_corft_01 footer div.row nav ul li a {
        text-shadow: none;
        border-top: 1px solid #CCC;
        display: block;
        font: italic 16px/21px "Trebuchet MS", sans-serif; 
        padding: 0 0 0 39px;
        color: #5D5D5D;  
        font-weight: bold;
        font-size: 11px;
    }
    .nav_corft_01 footer div.row nav ul li a span {
        float: right;
        margin: 5px 22px;
    }
    .nav_corft_01 footer div.row nav ul li a .icon {
        background: transparent url(../img/footer/sprites-mobile.png) no-repeat -28px -5px;
    }
    .nav_corft_01 footer .dark-row {
        background-color: #e2e2e2;       
    }
    div.dark-row div a span.nav_corft_01_sprite{
        float: left;
        margin-left: 6px;
        margin-top: 5px;
        position: relative;
        display: inline-block;
        *left: 30px;
    }
    .ie7 div.dark-row div.nav_corft_01_wrapper div.row div.left{
        margin-left: 30px; 
        height: 10px;
    }
    .ie7 div.nav_corft_01_sprite_trade{
        margin-left: 30px;
    }

    .nav_corft_01 footer .white-row {
        background-color: white;
    }
    .nav_corft_01 footer .blue-row {
        background: #204369;
    }
    .nav_corft_01 footer .blue-row a {
        display: none;
		padding-right: 85px;
    }
    .nav_corft_01 footer .blue-row .blueSections > li {
        display: block;
    }

    .nav_corft_01 footer .blue-row ul li {
        padding: 0;
        margin: 0;
    }
    .nav_corft_01 footer .blue-row ul li a {
        border-bottom: 1px solid #1C3B5C;
        margin: 0;
        padding: 10px 0 10px 30px;
        padding-right: 0;
        color: white !important;
        float: none;
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        text-decoration: none;
        font-style: italic;
        font-size: 14px; 
    }
    .nav_corft_01 footer .blue-row ul li a span {
        float: right;
        margin: 0 20px;
		margin-top:1px;
    }
    .nav_corft_01 footer .blue-row ul li a .icon {
        background: transparent url(../img/footer/sprites-mobile.png) no-repeat -4px -312px;
    }
    .nav_corft_01 footer .blue-row ul li ul li {
        text-align: left;
        border: 0;
    }
    .nav_corft_01 footer div .right,
    .nav_corft_01 footer div .left {
        color: #666;
        font-size: 10px;
        display: block;
        float: none;
        text-align: left;
        line-height: 18px;
    }

    .ie7 .nav_corft_01 footer div .right span.icon.mobile.arrow{
        margin-top: -12px;

    }
}
@media screen and (device-width:320px) and (orientation:landscape) {
    /* iPhone Landscape Styles Here*/
	.nav_corft_01 footer div .legal {
        padding:10px;
		height:50px;
    }
	.nav_corft_01 footer div.row {
        padding-bottom: 25px;
        margin-bottom: 15px;
	}
	div.dark-row div a span.nav_corft_01_sprite{    
        margin-top: 7px;
    }
}

@media screen and (max-width: 623px) {	
    .nav_corft_01 footer .blue-row ul li a {
        border-bottom: 1px solid #1C3B5C;
        border-top: 1px solid #345372;
        height:38px;
        line-height:38px;
        padding:0 0 0 24px;
        font-size:16px;
		font-weight:normal;
    }
    
    .nav_corft_01 footer .blue-row ul li a i {
        color:#000;
        text-shadow: 0.5px 1px 0px rgba(255, 255, 255, 0.5);
        opacity:.5;
        float:right;
        font-size:33px;
        margin-top:-5px;
    }
    
    .nav_corft_01 footer div.row nav ul li {
        padding:0;
    }
    
    .nav_corft_01 footer div.row nav ul li a {
        height:24px;
        line-height:24px;
        border-top:1px solid #efefef;
        border-bottom:1px solid #CCC;
        padding:0 12px 0 24px;
    }
    
    .nav_corft_01 footer div.row nav ul li a i {
        float:right;
        margin-top:5px;
    }
    
    /*Ocultar las flechas de la seccion azul*/
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper .blueSections li div a i.tvsa-caret-right{
    	display: none;
    }
    .nav_corft_01 footer div .nav_corft_01_wrapper{
    	width: auto;
    }
}


}
