@media screen {
    .wdg_matchesresult_sprite{
        /*background: url(../img/sprites-sports2.png) no-repeat 0 0;*/
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/arrows.png) no-repeat 0 0;
        display: inline-block;
        height: 10px;
        overflow: hidden;
        text-indent: -1584px;
        width: 10px;
        margin-bottom: 0px;
    }
    .wdg_matchesresult_sprite.uparrow{
        background-position: 0px -5px;
        height: 7px;
        width: 10px;
        margin-right: 5px;
        margin-bottom: 1px;
    }
    .wdg_matchesresult_sprite.downarrow{
        background-position: 0px 0px;
        height: 5px;
        width: 10px;
        margin-right: 5px;
        margin-bottom: 2px;
    }
    .wdg_matchesresult_01{
		position:relative;
        z-index:1;
        width: 100%;
        height: 215px;
        overflow: hidden;
        margin-bottom: 10px;
        background-image: linear-gradient(to bottom, #c7c5c6 0%,#e4e2e2 2%,#e4e2e2 100%);
        background-image: -o-linear-gradient(top, #c7c5c6 0%,#e4e2e2 2%,#e4e2e2 100%);
        background-image: -moz-linear-gradient(top, #c7c5c6 0%, #e4e2e2 2%, #e4e2e2 100%);
        background-image: -webkit-linear-gradient(top, #c7c5c6 0%,#e4e2e2 2%,#e4e2e2 100%);
        background-image: -ms-linear-gradient(top, #c7c5c6 0%,#e4e2e2 2%,#e4e2e2 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c5c6), color-stop(2%,#e4e2e2), color-stop(100%,#e4e2e2));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c5c6', endColorstr='#c7c5c6',GradientType=0 );
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container{
        width: 100%;
        margin: 0 auto;
        height: 575px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_left{
        height: 575px;
        width: 190px;
        float:none;
        display: none;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right{
        height: 500px;
        width: 320px;
        float: none;
        margin: 30px auto 0px auto;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components ul li{
        float: left;
        margin-right: 15px;
    }
	.wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components ul li:last-of-type{
	margin-right:0;
	}
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer{
        clear: both;
		height: 56px;
		margin: 0 auto 15px;
		overflow: hidden;
		width: 284px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav{
        height: 50px;
        width: 240px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 22px;
		overflow:hidden;
        float: left;
		position: relative;
    }
	
	.wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_theme{
        height: 50px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components{
		width: 216px; /*Margen de visualizacion carrusel*/
        height: 400px;
        overflow-x: hidden;
        float: left;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components .wdg_matchesresult_01_list{
        height: 400px;
    } 
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li{
        float: left;
        text-align: center;
    }    
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li.selected{
        border-bottom: 3px solid #D6A256;

    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li.selected a{
        color: #D6A256;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li a{
        color: #8f8f8f;
        text-decoration: none;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li a p{
        border-right: 1px dotted #8f8f8f;
        height: 17px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li:nth-child(1) a p{
        padding-left: 0px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileright{
        display: block;
		float: left;
		margin-left: 4px;
		margin-top: 35px; /*distancia flechas*/
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileleft{
      	display: block;
		float: left;
		margin-top: 35px; /*distancia flechas*/
		margin-left: 35px;
		margin-right: 12px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileleft .wdg_matchesresult_leftmobile{
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/box_arrow_l.png) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 20px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileright .wdg_matchesresult_rightmobile{
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/box_arrow_r.png) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 20px;
    }
	.wdg_matchesresult_01 .wdg_matchesresult_right{
		color:#D6A256;
		font-size:35px;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_left{
		color:#6C0808;
		font-size:35px;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_01_arrows .tvsa-double-caret-right{
		color:#D6A256;
        visibility: hidden;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_01_arrows .tvsa-double-caret-left{
		color:#6C0808;
        visibility: hidden;
	}
    .wdg_matchesresult_01 .wdg_matchesresult_navlefticon{
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/box_arrow_l.png) no-repeat 0 0;
        display: inline-block;
        width: 11px;
        height: 10px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_navrighticon{
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/box_arrow_r.png) no-repeat 0 0;
        display: inline-block;
        width: 11px;
        height: 10px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_navarrowleft{
        float: left;
        margin-top: 20px;
        margin-right: 10px;
		width:10px;
    }
	
    .wdg_matchesresult_01 .wdg_matchesresult_navarrowright{
        float: left;
        margin-top: 20px;
        margin-left: 10px;
		width:10px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_navarrowright .tvsa-double-caret-right{
        color:#D6A256;
    }
	
	.wdg_matchesresult_01 .linedown{
		border-bottom: 1px solid #c5c3c4;
		height: 2px;
		position: absolute;
		top: 28px;
		width: 370px;
	}
	
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(1){
		width:73px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(2){
		width:68px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(3){
		width:91px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(4){
		width:54px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(5){
		width:56px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(6){
		width:43px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(7){
		width:64px;
	}
	.wdg_matchesresult_01 .box{
		background:#e4e2e2;
		display:none;
		height:25px;
		left:370px;
		position:absolute;
		top:196px;
		width:740px;
	}
	.wdg_matchesresult_01_arrows a.wdg_matchesresult_right,
	.wdg_matchesresult_01_arrows a.wdg_matchesresult_left{
		display:none;
	}
	.textcolor-title1 {
	font-weight: bold;
	letter-spacing:-1px;
	padding-left:7px;
	}

	.wdg_matchesresult_01 .viewmore{
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: block;
        width: 100%;
        border-top: 1px solid #c4c4c4;
        margin-top: 20px;
        }
        .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components{
            position: relative;
        }
        .wdg_matchesresult_01 .windows8 {position: absolute;width: 45px;height:45px;top: 50%;left: 50%;z-index: 99;display: block;}
        .wdg_matchesresult_01 .windows8 .wBall {position: absolute;width: 43px;height: 43px;opacity: 0;-moz-transform: rotate(225deg);-moz-animation: orbit 7.15s infinite;-webkit-transform: rotate(225deg);-webkit-animation: orbit 7.15s infinite;-ms-transform: rotate(225deg);-ms-animation: orbit 7.15s infinite;-o-transform: rotate(225deg);-o-animation: orbit 7.15s infinite;transform: rotate(225deg);animation: orbit 7.15s infinite;}
        .wdg_matchesresult_01 .windows8 .wBall .wInnerBall{position: absolute;width: 6px;height: 6px;background: #59a529;left:0px;top:0px;-moz-border-radius: 6px;-webkit-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px;}
        .wdg_matchesresult_01 .windows8 #wBall_1 {-moz-animation-delay: 1.56s;-webkit-animation-delay: 1.56s;-ms-animation-delay: 1.56s;-o-animation-delay: 1.56s;animation-delay: 1.56s;}
        .wdg_matchesresult_01 .windows8 #wBall_2 {-moz-animation-delay: 0.31s;-webkit-animation-delay: 0.31s;-ms-animation-delay: 0.31s;-o-animation-delay: 0.31s;animation-delay: 0.31s;}
        .wdg_matchesresult_01 .windows8 #wBall_3 {-moz-animation-delay: 0.62s;-webkit-animation-delay: 0.62s;-ms-animation-delay: 0.62s;-o-animation-delay: 0.62s;animation-delay: 0.62s;}
        .wdg_matchesresult_01 .windows8 #wBall_4 {-moz-animation-delay: 0.94s;-webkit-animation-delay: 0.94s;-ms-animation-delay: 0.94s;-o-animation-delay: 0.94s;animation-delay: 0.94s;}
        .wdg_matchesresult_01 .windows8 #wBall_5 {-moz-animation-delay: 1.25s;-webkit-animation-delay: 1.25s;-ms-animation-delay: 1.25s;-o-animation-delay: 1.25s;animation-delay: 1.25s;}
        @-moz-keyframes orbit {0% {opacity: 1;z-index:99;-moz-transform: rotate(180deg);-moz-animation-timing-function: ease-out;}7% {opacity: 1;-moz-transform: rotate(300deg);-moz-animation-timing-function: linear;-moz-origin:0%;}30% {opacity: 1;-moz-transform:rotate(410deg);-moz-animation-timing-function: ease-in-out;-moz-origin:7%;}39% {opacity: 1;-moz-transform: rotate(645deg);-moz-animation-timing-function: linear;-moz-origin:30%;}70% {opacity: 1;-moz-transform: rotate(770deg);-moz-animation-timing-function: ease-out;-moz-origin:39%;}75% {opacity: 1;-moz-transform: rotate(900deg);-moz-animation-timing-function: ease-out;-moz-origin:70%;}76% {opacity: 0;-moz-transform:rotate(900deg);}100% {opacity: 0;-moz-transform: rotate(900deg);}}
        @-webkit-keyframes orbit {0% {opacity: 1;z-index:99;-webkit-transform: rotate(180deg);-webkit-animation-timing-function: ease-out;}7% {opacity: 1;-webkit-transform: rotate(300deg);-webkit-animation-timing-function: linear;-webkit-origin:0%;}30% {opacity: 1;-webkit-transform:rotate(410deg);-webkit-animation-timing-function: ease-in-out;-webkit-origin:7%;}39% {opacity: 1;-webkit-transform: rotate(645deg);-webkit-animation-timing-function: linear;-webkit-origin:30%;}70% {opacity: 1;-webkit-transform: rotate(770deg);-webkit-animation-timing-function: ease-out;-webkit-origin:39%;}75% {opacity: 1;-webkit-transform: rotate(900deg);-webkit-animation-timing-function: ease-out;-webkit-origin:70%;}76% {opacity: 0;-webkit-transform:rotate(900deg);}100% {opacity: 0;-webkit-transform: rotate(900deg);}}
        @-ms-keyframes orbit {0% {opacity: 1;z-index:99;-ms-transform: rotate(180deg);-ms-animation-timing-function: ease-out;}7% {opacity: 1;-ms-transform: rotate(300deg);-ms-animation-timing-function: linear;-ms-origin:0%;}30% {opacity: 1;-ms-transform:rotate(410deg);-ms-animation-timing-function: ease-in-out;-ms-origin:7%;}39% {opacity: 1;-ms-transform: rotate(645deg);-ms-animation-timing-function: linear;-ms-origin:30%;}70% {opacity: 1;-ms-transform: rotate(770deg);-ms-animation-timing-function: ease-out;-ms-origin:39%;}75% {opacity: 1;-ms-transform: rotate(900deg);-ms-animation-timing-function: ease-out;-ms-origin:70%;}76% {opacity: 0;-ms-transform:rotate(900deg);}100% {opacity: 0;-ms-transform: rotate(900deg);}}
        @-o-keyframes orbit {0% {opacity: 1;z-index:99;-o-transform: rotate(180deg);-o-animation-timing-function: ease-out;}7% {opacity: 1;-o-transform: rotate(300deg);-o-animation-timing-function: linear;-o-origin:0%;}30% {opacity: 1;-o-transform:rotate(410deg);-o-animation-timing-function: ease-in-out;-o-origin:7%;}39% {opacity: 1;-o-transform: rotate(645deg);-o-animation-timing-function: linear;-o-origin:30%;}70% {opacity: 1;-o-transform: rotate(770deg);-o-animation-timing-function: ease-out;-o-origin:39%;}75% {opacity: 1;-o-transform: rotate(900deg);-o-animation-timing-function: ease-out;-o-origin:70%;}76% {opacity: 0;-o-transform:rotate(900deg);}100% {opacity: 0;-o-transform: rotate(900deg);}}
        @keyframes orbit {0% {opacity: 1;z-index:99;transform: rotate(180deg);animation-timing-function: ease-out;}7% {opacity: 1;transform: rotate(300deg);animation-timing-function: linear;origin:0%;}30% {opacity: 1;transform:rotate(410deg);animation-timing-function: ease-in-out;origin:7%;}39% {opacity: 1;transform: rotate(645deg);animation-timing-function: linear;origin:30%;}70% {opacity: 1;transform: rotate(770deg);animation-timing-function: ease-out;origin:39%;}75% {opacity: 1;transform: rotate(900deg);animation-timing-function: ease-out;origin:70%;}76% {opacity: 0;transform:rotate(900deg);}100% {opacity: 0;transform: rotate(900deg);}

}

