@media screen and (min-width: 624px){
	#dinamic{
    background-color: #66AAFF;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 200px;
}
    /* basic layout */
    section.wdg_alineacion_field_01 {
        width:624px;
        text-align:center;
    }
    
    section.wdg_alineacion_field_01 div.field {
        position:relative;
    }
    section.wdg_alineacion_field_01 div.players {
        
    }
    section.wdg_alineacion_field_01 span.player {
        position:absolute;
        background:url(../img/sombra-cancha.png) no-repeat left 25px;
        padding-bottom:10px;
    }
    
    /* colors */
    section.wdg_alineacion_field_01 .player a {position:relative;}
    section.wdg_alineacion_field_01 .player a span.tooltip {
        display:none;
        position:absolute;
        width:200px;
        padding:12px 20px;
        text-align:left;
        left:-100px; /* 200px width + 40px padding / 2 = 120px */
    }
    section.wdg_alineacion_field_01 .player a:hover span.tooltip {
        display:block;
    }
    
    section.wdg_alineacion_field_01 .player.grid1 span.tooltip,
    section.wdg_alineacion_field_01 .player.grid2 span.tooltip {
        top:55px;
    }
    
    section.wdg_alineacion_field_01 .player.grid3 span.tooltip,
    section.wdg_alineacion_field_01 .player.grid4 span.tooltip {
        top:-150px;
    }
    
    section.wdg_alineacion_field_01 .player a span.number {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
		/*filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=0,shadowOpacity=50);*/
        padding:0 6px;
        font-weight:bold;
        line-height:25px;
        display:inline-block;
    }
    section.wdg_alineacion_field_01 .smex a span.number,
    section.wdg_alineacion_field_01 .player a span.number {color:#e43640; background:#FFF;} /* default, strategy smex, etc. */
    section.wdg_alineacion_field_01 .visit a span.number {color:#ffcc01; background:#a61e22;} /* 2 teams -> add local and visit classes */
    section.wdg_alineacion_field_01 .local a span.number {color:#ffcc01; background:#012ced;}
    section.wdg_alineacion_field_01 span.actions {
        color:#948f8f;
        font-size:12px;
        line-height:20px;
        display:block;
        width:195px;
    }
    section.wdg_alineacion_field_01 span.actions i {
        color:#FFF;
        font-size:15px;
        margin:0 3px 0 4px;
    }
    /* menu */
    section.wdg_alineacion_field_01 ul.menu {
        text-align:center;
        border:1px solid #ccc;
        display:inline-block;
        height:24px;
        margin-bottom:10px;
        margin-left: -7px;
    }
    
    section.wdg_alineacion_field_01 ul.menu li {
        display:inline-block;
        background: url("../../img/dotted-vertical.png") repeat-y left !important;
        height:24px;
    }
    
    section.wdg_alineacion_field_01 ul.menu li.first {
        background-image: none !important;
    }
    
    section.wdg_alineacion_field_01 ul.menu li a {
        color:#8F8F8F;
        display: inline-block;
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        line-height: 24px;
        letter-spacing:-.5px;
        padding: 0 32px;
        float: left;
        width: 116px;
    }
    
    section.wdg_alineacion_field_01 ul.menu li.active a,
    section.wdg_alineacion_field_01 ul.menu li a:hover {
        color:#FFF;
        background:#eab11d;
    }
    
    section.wdg_alineacion_field_01 span.tooltip {
        display:block;
        background: url("../img/95percentblack.png");
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        z-index:1000;
    }
    
    section.wdg_alineacion_field_01 span.name {
        font-size:16px;
        font-weight:bold;
        display:block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    section.wdg_alineacion_field_01 .field .cancha{
        width: 624px;
        height: auto;
    }
    
    section.wdg_alineacion_field_01 .tooltip .arrow {
        display:block;
        width:55px;
        height:28px;
        position:absolute;
        background:url(../img/flechas-cancha.png) no-repeat;
        left:125px;
    }
    section.wdg_alineacion_field_01 .grid1 .arrow,
    section.wdg_alineacion_field_01 .grid2 .arrow {
        top:-27px;
    }
    section.wdg_alineacion_field_01 .grid3 .arrow,
    section.wdg_alineacion_field_01 .grid4 .arrow {
        bottom:-27px;
        background:url(../img/flechas-cancha.png) -55px 100%;
    }
    section.wdg_alineacion_field_01 .grid4 .arrow {
        background:url(../img/flechas-cancha.png) 0 100%;
        left:135px;
    }
    section.wdg_alineacion_field_01 .grid3 .arrow {
        left:45px;
    }
    
    section.wdg_alineacion_field_01 .grid1 .arrow {
        background-position:-55px 0;
        left:50px;
    }
    
    section.wdg_alineacion_field_01 .name {display:inline-block;color:#FFF; font-size:14px;}
    section.wdg_alineacion_field_01 .position { display:inline-block;color:#d6a256;font-size:12px;}
    section.wdg_alineacion_field_01 img.playerfoto { float:left; margin-right:12px }
    section.wdg_alineacion_field_01 em {margin-top:15px;font-weight:bold;font-size:12px;color:#747474;padding:2px;display:block;text-align:center;margn-top:-1em;background:url(../img/linea-tooltip.png) no-repeat 50% 50%;}
}   