@media screen and (min-width: 624px){
    /* START: carouseltypecarruse (Medium) */
    .btn_carru_prog_02{
        margin-bottom:36px;
        width:624px;
		position: relative;
    }
    .btn_carru_prog_02 .title {
        /*margin:0 0 24px 0;*/
        margin:59px 0 24px;
    }
	.btn_carru_prog_02 .typecarruse{
		height:208px;
		position: relative;
		overflow:hidden;
	}
    .btn_carru_prog_02 .typecarruse ul {
      margin: 0 auto;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul {
      margin-top: 0;
    }
    .btn_carru_prog_02 div.title:before,
    .btn_carru_prog_02 div.title:after {
      content: "";
      display: table;
    }
    .btn_carru_prog_02 div.title:after {
      clear: both;
    }
    .btn_carru_prog_02 div.title {
      zoom: 1;
    }
    .btn_carru_prog_02 div.title h3 {
      width: 57%;
      max-width: 300px;
      float: left;
    }
    .btn_carru_prog_02 div.title h3 a {
      background-image: none !important;
    }
    .btn_carru_prog_02 div.title h3 a span.icon {
      display: none;
    }
   
	/*Dropdown*/
	.btn_carru_prog_02 .pleca{
		border-bottom: 1px solid #ccc;
		clear: both;
		position: relative;
		z-index:10;
		width:880px;
        float: left;

	}
	.btn_carru_prog_02 .wdg_scroll_dropdown{
        width: 624px;
        height: auto;
        display: block;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown{
        height: 32px;
        font-size: 15px;
        font-weight: bold;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_pleca p{
        margin-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_list {
        cursor: pointer;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_value{
        /*position: relative;*/
        float: left;
        margin-left: 24px;
        width: 81%;
        z-index: 1;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click{
        /*position: relative;*/
        width: 10%;
        height: 32px;
        float: right;
        z-index: 200;
        top: 0;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click span{
        margin-left: 12px;
        color: #ffffff;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        width: 313px;
		margin-top:33px;
        position:absolute;
        clear: both;
        height: 0px;
        background-color: #d3d3d3;
        visibility: hidden;
        overflow: hidden;
		z-index:100;
    }
    .ie8 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events,
    .ie7 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        margin-top:0px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li{
        background-color: rgba(235,235,235,0.6);
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
        border-bottom: 1px solid #d3d3d3;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li:hover{
        background-color: rgba(235,235,235,0.9);  
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #f5f5f5;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li p{
        padding-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown > div{
        float: left;
        width: 50%;
        height: 32px;
        line-height: 32px;
    }
    .btn_carru_prog_02 div:first-child {
    }
    .btn_carru_prog_02 #b_tablet{
         display:block;
		 overflow: hidden;
		 width: 620px;
		 position: relative;
		 
    }
	.btn_carru_prog_02 .bullets ul{
		display: inline-block;
		position: relative;
		clear: both;
	}
    .btn_carru_prog_02 #b_mobile{
         display:none;
    }
    .btn_carru_prog_02 .text_prin span.title{
     
        font-weight: 100 !important;
    }
}
