/* Dispositivos vista retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:
        624px) , ( min-resolution : 192dpi) and (min-width: 624px) {
    /* Logo Deportes */
    
    header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }

header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
width: 39px;
}
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
width: 39px;
}
	header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -87px 0;
width: 48px;
}	
	header.nav_header_01 div.mainnav nav.social ul li.station {
		padding-right: 1px;
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dots-mainnav.png) no-repeat 100% 50%;
		margin-right:-4px;
		}

    header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.nba {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut,
    .ie7 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }


    
    /* Logo Noticieros */
    .ie7 header.nav_header_01 div.topnav a.televisa.noticieros span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat -81px 0;
        height: 61px;
    }
    /* Logo Deportes */
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat 0px -77px;
        height: 78px;
        zoom: 1;
    }
    /* Logo Resto */

    .ie7 header.nav_header_01 div.topnav div.inner>a.menu {
        display: none;
    }
    /* Televisa Logo */
    .ie7 header.nav_header_01 div.topnav a.televisa {
        position: absolute;
        left: 24px;
        top: 0;
        background: #154C7B;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        height: 108px;
        width: 112px;
        text-align: center;
        z-index: 5;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa span {
        display: inline-block;
        overflow: hidden;
        text-indent: -99em;
        height: 77px;
        width: 64px;
        /*margin: 0px auto 0 auto;*/
    }
}

/* tablet+ */
@media screen and (min-width: 624px) {
	
	
	 header.nav_header_01 nav.main ul li a,
	.ie7 header.nav_header_01 nav.main ul li a{
	   background-color:#efefef;
	}
	 header.nav_header_01 nav.main ul.dropdown li a,
    .ie7 header.nav_header_01 nav.main ul.dropdown li a{
       background-color:#fff;
    }
	
	/*header.nav_header_01 nav.main ul.dropdown li a:hover,
    .ie7 header.nav_header_01 nav.main ul.dropdown li a:hover{
       background-color:#A70A0B;
    }*/
    
     header.nav_header_01  li.station a,
     header.nav_header_01  li.social a,
    .ie7 header.nav_header_01  li.social a,
    .ie7 header.nav_header_01  li.station a{
        border-left:none!important;
        border-top:none!important;
    }
    
     header.nav_header_01  .station ,
    .ie7 header.nav_header_01  .station {
        border-right: none;
    }
    
	div.mobilenav,div.niy {
		display: none;
	}

	/* Layout */
	header.nav_header_01 div.inner {
		width: 624px;
		position: relative;
	}
	header.nav_header_01 div.topnav div.inner>a.menu {
		display: none;
	}
	/* Televisa Logo */
	header.nav_header_01 div.topnav a.televisa {
		position: absolute;
		left: 24px;
		top: 0;
		background: #154C7B;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		height: 50px;
		width: 70px;
		text-align: center;
		z-index: 5;
	}
	header.nav_header_01 div.topnav a.televisa span {
		display: inline-block;
		overflow: hidden;
		text-indent: -99em;
		height: 77px;
		width: 64px;
		/*margin: 5px auto 0 auto;*/
	}
	header.nav_header_01 div.topnav a.televisa span.mobile-logo {
		display: none;
	}

	/* Logo Noticieros */
	

	/* Logo Deportes */

	/* Logo Resto */
	header.nav_header_01 div.topnav a.televisa span {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat -81px
			-155px;
		height: 35px;
	}

	/* Top Navigation */
	header.nav_header_01 div.topnav {
		height: 36px;
	}
	header.nav_header_01 div.topnav nav ul {
		position: absolute;
		top: 1px;
		left: 170px;
	}
	header.nav_header_01 div.topnav nav ul li a {
		opacity: .8;
		height: 35px;
		line-height: 35px;
		padding: 0 8px;
		font-size: 11px;
		text-shadow: -1px -2px 3px rgba(0, 0, 0, 0.6);
	}
	header.nav_header_01 div.topnav nav ul li a:active,header.nav_header_01 div.topnav nav ul li a:focus
		{
		opacity: 1;
	}
	/*header.nav_header_01 div.topnav nav ul li a:hover {
		background: rgb(14, 65, 108) !important;
		box-shadow: inset 0 1px 6px #0d385b;
	}*/
	header.nav_header_01 div.topnav nav ul li.active a,header.nav_header_01 div.topnav nav ul li a:active
		{
		background: #0d385b !important;
		opacity: 1;
		box-shadow: inset 0 1px 6px #0b2f4f;
	}

	/* Date */
	header.nav_header_01 div.topnav span.date {
		display: none;
	}

	/* Site Search */
	header.nav_header_01 div.topnav form.site_search {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
		z-index: 100;
		/*
        -moz-box-shadow: 0px 0px 4px #093252;
		-webkit-box-shadow: 0px 0px 4px #093252;
		box-shadow: 0px 0px 4px #093252; */
	}
	header.nav_header_01 div.topnav form.site_search input.search_term,header.nav_header_01 div.topnav form.site_search button.search_submit
		{
		border: 0;
		height: 37px;
		line-height: 37px;
		padding: 0;
		margin: 0;
	}
	header.nav_header_01 div.topnav form.site_search input.search_term {
		display: none;
		float: right;
		width: 0;
		top: 0px;
		right: -4px;
		padding: 0 4px;
	}
	header.nav_header_01 div.topnav form.site_search button.search_submit {
		background: #FFF;
		padding: 0 13px;
		float: right;
		border-bottom: 1px solid #dee0df;
		border-left: 1px solid #bababc;
		color: #898989;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eaebed),
			to(#fbfbfb))
	}

		/* Main Navigation */
	/* icon sizes */
	header.nav_header_01 div.mainnav ul li a i,header.nav_header_01 div.mainnav nav.social ul li a i
		{
		font-size: 17px;
		position: relative;
		line-height: 30px;
		vertical-align: baseline;
		display: inline;
	}
	header.nav_header_01 div.mainnav nav.social ul li:first-child a i {
		font-size: 13px !important;
	}
	
	header.nav_header_01 div.mainnav nav.social ul li.station:last-child {
	}
	header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
		display: none;
	}
	

	header.nav_header_01 div.mainnav nav.social a.toggle {
		color: #fff;
		height: 35px;
		width: 36px;
		text-align: center;
		line-height: 35px;
		font-size: 15px;
		display: inline-block;
		border-left: 1px solid #dadada;
		/*-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);*/
	}
	header.nav_header_01 div.mainnav nav.social a.toggle span {
	}

	header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px -17px ;
	margin-top:10px; 
}

header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -88px -17px ;
}

	/* Collapsable Mainnav */
	header.nav_header_01 div.collapsable-mainnav div.inner {
		padding: 24px 0;
	}
	header.nav_header_01 div.collapsable-mainnav>div {
		background: #ffffff repeat-x 0 0
			url(data:image/gif;base64,R0lGODlhAQAQALMAAP7+/vz8/OPj4/////f39/T09PHx8efn5+Li4vn5+erq6vr6+u7u7gAAAAAAAAAAACH5BAAAAAAALAAAAAABABAAAAQLEImjmCkkrRCAHxEAOw==);
	}
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav a {
		font-weight: bold;
		font-size: 11px;
		line-height: 35px;
		height: 35px;
	}
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav.tabs ul {
		border-bottom: 1px solid #ebebeb !important;
		margin-bottom: 24px;
		width: 100%;
	}
	/* Main Navigation */
	header.nav_header_01 div.title {
	border-top: 1px solid #398218;
	background: #59a529;
	height: 69px;
	
	}
	header.nav_header_01 div.title strong {
		color: #FFF;
		font-size: 29px;
		font-style: italic;
		position: absolute;
		left: 25px;
		top: 26px;
		display: block;
	}
	header.nav_header_01 div.title span.lema{
		color: #fff;
		font-size: 12px;
		font-weight: normal;


	}
	header.nav_header_01 div.mainnav {
		z-index: 10;
		position: relative;
		height: 35px;
		/* background: #efefef; */ /* Old browsers */
		background: #59a529;
	}
	header.nav_header_01 div.mainnav ul {
		/* border-left: 1px solid #dadada; */
		height: 35px;
	  -moz-box-shadow:    inset -5px -5px 20px -5px rgba(50, 50, 50, 0.75);  
		/* box-shadow:         inset -5px -5px 20px -5px rgba(50, 50, 50, 0.75); */
}
	header.nav_header_01 div.mainnav ul li {
		display: inline-block;
		height: 35px;
		line-height: 35px;
	  -moz-box-shadow: inset -5px -5px 20px -5px rgba(50, 150, 50, 0.75);  
		/* box-shadow: inset -1px -1px 20px -5px rgba(50, 150, 50, 0.75); */
}
	header.nav_header_01 div.mainnav nav.main {
		position: absolute;
		left: 0;
		top: 0;
	}
	header.nav_header_01 div.mainnav nav.main ul li.separator {
		height: 12px;
	}
	header.nav_header_01 div.mainnav ul>li a {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical_white.png)no-repeat right !important;
		float: left;
		height: 35px;
		line-height: 35px;
		padding: 0 11px;
		/* font-weight: 700; */
		color: #fff;
		font-size: 14px;
		/* border: 5px  solid #49b73a; */
		/* border-right: 1px dotted #eaeaec; */
		/* box-shadow: inset -1px -1px 20px -5px rgba(50, 150, 50, 0.75); */
}

	header.nav_header_01 div.mainnav ul>li a:hover{
		background: #ccc;
	}

element.style {
}
index.htmlmedia="screen and (min-width: 624px)"
@media screen and (min-width: 624px)
header.nav_header_01 div.mainnav nav.main ul li
	;
		margin-top: 5px;
}
	
	.tvsa-home td{
		color: #000;
	}

	header.nav_header_01 div.mainnav nav.main ul li {
		position: relative;
	  -moz-box-shadow:    inset -5px -5px 20px -5px rgba(50, 50, 50, 0.75);  
		/* box-shadow:         inset -5px -5px 20px -5px rgba(50, 50, 50, 0.75); */  -moz-box-shadow: inset -5px -5px 20px -5px rgba(50, 150, 50, 0.75);  
		/* box-shadow: inset -1px -1px 20px -5px rgba(50, 150, 50, 0.75); */
}
	div.collabsable,div.collabsable a,div.collabsable li {
		color: #494a4c;
	}
	header.nav_header_01 div.dropdown-content {
		font-size: 11px;
	}
	header.nav_header_01 div.dropdown-content ul li,
	header.nav_header_01 div.dropdown-content ul li a {
		height: 24px;
		line-height: 24px;
		font-size: 11px;
		color: #494a4c;
	}
	header.nav_header_01 div.dropdown-content ul li a:hover {
		color: #000;
	}
	header.nav_header_01 div.mainnav nav.main ul li:first-child a {
		padding: 0 8px;
	}

	/** Dropdown **/
	header.nav_header_01 div.mainnav nav.main ul li ul li:first-child a {
		padding: 0 11px;
	}
	header.nav_header_01 div.mainnav ul li ul li {
		height: 22px;

	}
	header.nav_header_01 div.mainnav ul li ul li a {
		float: left;
		height: 22px;
		line-height: 22px;
		padding: 0 11px;
		font-weight: 700;
		color: #494a4c;
		font-size: 11px;
		border: 0;
		filter: dropshadow(color = #FFF, offx = 1, offy = 1);

	}

	header.nav_header_01 div.mainnav nav.main ul li ul.dropdown {
		background: #efefef;
		top: -10000em;
		left: 0;
		position: absolute;
		text-align: center;
	}
header.nav_header_01 div.mainnav nav.main ul li ul.dropdown li{
border-bottom: 1px solid #d6d6d6;
	}

header.nav_header_01 div.mainnav nav.main ul li ul.dropdown li:hover {
		background: #eab11d;
	}

header.nav_header_01 div.mainnav nav.main ul li ul.dropdown li a:hover {
		color: #fff !important;
		text-decoration: none;
	}


	/*header.nav_header_01 div.mainnav nav.main ul li:hover ul.dropdown,
	header.nav_header_01 div.mainnav nav.main ul li:hover ul,
	header.nav_header_01 div.mainnav nav.main ul li.active ul.dropdown,
	header.nav_header_01 div.mainnav nav.main ul li.active ul
		{
		top: 36px !important;
		z-index: 5;
	}*/
	header.nav_header_01 div.topnav div.inner>nav ul li a.noticieros {
		background: transparent;
	}
	header.nav_header_01 div.topnav div.inner>nav ul li a.deportes {
		background: transparent;
	}
	header.nav_header_01 div.topnav div.inner>nav ul li a.entretenimiento {
		background: transparent;
	}
	header.nav_header_01 div.topnav div.inner>nav ul li a.estilo-de-vida {
		background: transparent;
	}
	header.nav_header_01 div.topnav div.inner>nav ul li a.television {
		background: transparent;
	}
	header.nav_header_01 div.mainnav nav.main {
		width: 100%;
		background: #6ec239;
	
		-webkit-box-shadow: inset -5px -5px 20px -5px rgba(50, 150, 50, 0.75);  
		-moz-box-shadow: inset -5px -5px 20px -5px rgba(50, 150, 50, 0.75);  
		box-shadow: inset -1px -1px 20px -5px rgba(50, 150, 50, 0.75);
}
	header.nav_header_01 div.mainnav nav.main ul li ul {
		top: -10000em;
		left: 0;
		position: absolute;
		width: 150px;
		background: #FFF;
		margin: 0 0 0 -1px;
		height: auto;
		/*border-top:1px solid #C4C4C4;*/
		border-top: none;
	}

	header.nav_header_01 div.mainnav nav.main ul li ul.dropdown-country {
		color: #fff;
		display:inline-block;
		top: -10000em;
		left: 0;
		position: absolute;
		width: 948px;
		background: #eab11d;
		margin: 0 0 0 -1px;
		height: auto;
		/*border-top:1px solid #C4C4C4;*/
		border-top: none;
	}

	/*submenu paises*/

	.main-nav-countries { display:block; width:100%; height:auto; background: #eab11d;  } /* Buscar hacerlo fullwidth */
.content-countries, .content-countries1 {height:100%; width:900px;  margin:0 auto; position:relative; padding:18px 0;}
.content-countries ul, .content-countries1 ul  { width:948px; display:inline-block; height:30px; margin: 0 100px}
.content-countries ul li, .content-countries1 ul li { width:30px; height:30px;  padding:5px; display:inline-block;}
.content-countries ul li figure, .content-countries1 ul li figure{ color:#fff; padding: px 0;}

	hr {
		border: 1px dashed #fff;
		width: 700px;
	}
	/*END submenu paises*/

	header.nav_header_01 div.mainnav nav.main ul li ul li,
	header.nav_header_01 div.mainnav nav.main ul li ul li a
		{
		display: block;
		float: none;
	}


	header.nav_header_01 div.mainnav nav.main ul li.active ul,
	header.nav_header_01 div.mainnav nav.main ul li:hover ul
		{
		top: 36px !important;
	}

	header.nav_header_01 div.mainnav nav.main ul li:hover {
		background: #59a529;
	}

	header.nav_header_01 div.mainnav nav.main ul li.mas-deportes:hover>a {
		background: #eab11d !important;
		color: #fff;
		height: 35px;
		margin-top:none; 
		text-decoration: none;
	}

	div.mainnav ul li ul li {
		display: inline-block;
		border: 0;
		border-right: 0px none;
		height: 22px;
		line-height: 22px;
	}
	header.nav_header_01 div.mainnav nav.main ul li:hover ul li a {
		border: 0;
		height: 22px;
		line-height: 22px;

	}

	header.nav_header_01 div.mainnav ul li a{
		}
	header.nav_header_01 div.mainnav ul li a:hover {
		background: rgba(235, 235, 235, 0.9);
	}
	header.nav_header_01 div.mainnav ul li ul li a:hover {
		background: #eab11d;
		color: #000 !important;
		box-shadow: none !important;
		height: 35px;
	}
	
	header.nav_header_01 div.mainnav ul li a:focus i {
		border-bottom: 0px none;
	}
	header.nav_header_01 div.mainnav ul li.active >a i.td,
	header.nav_header_01 div.mainnav ul li.active>a i.tt,
	header.nav_header_01 div.mainnav ul li.active>a i.te,
	header.nav_header_01 div.mainnav ul li.active>a i.tv,
	header.nav_header_01 div.mainnav ul li.active>a i.tn,
	header.nav_header_01 div.mainnav ul li.active>a i.facebook,
	header.nav_header_01 div.mainnav ul li.active>a i.twitter
		{
		color: #FFF !important;
	}
	
	/* Social Navigation */
	header.nav_header_01 div.mainnav nav.social ul {
		display: none;
		position: absolute;
		right: 0;
		top: 36px;
		background: #efefef; /* Old browsers */
		background: -moz-linear-gradient(top, #efefef 66%, #ffffff 100%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #efefef),
			color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #efefef 66%, #ffffff 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #efefef 66%, #ffffff 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #efefef 66%, #ffffff 100%);
		/* IE10+ */
		background: linear-gradient(to bottom, #efefef 66%, #ffffff 100%);
		/* W3C */
		filter: "progid:DXImageTransform.Microsoft.gradient(  startColorstr='#efefef',
			endColorstr='#ffffff', GradientType=0)"; /* IE6-9 */
	}
	header.nav_header_01 div.mainnav nav.social a.toggle {
		display: block;
		float: right;
	}

	header.nav_header_01 div.mainnav nav.social ul li a {
		height: 25px;
	}

	header.nav_header_01 div.mainnav nav.social ul li.station a span {
		margin-top: 7px;
		display: block;
		height: 16px;
	}
	header.nav_header_01 div.mainnav nav.social>a.vivafut {
		float: right;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
		display: inline-block;
		padding: 0 8px;
	}
	header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
		width: 51px;
		height: 16px;
		margin-top: 10px;
		display: inline-block;
	}
	header.nav_header_01 div.mainnav nav.social>a.vivafut:focus span.vivafut,header.nav_header_01 div.mainnav nav.social>a.vivafut:active span.vivafut
		{
		background: #A70A0B url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0
			-16px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
		{
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
		width: 51px;
	}
	
	header.nav_header_01 div.mainnav nav.social ul li.station.active a span.vivafut,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.vivafut,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.vivafut
		{
		background: #A70A0B url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0
			-16px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station a span.nba {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -51px 0;
		width: 36px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station.active a span.nba,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.nba,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.nba
		{
		background: #A70A0B url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat
			-51px -16px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -87px 0;
		width: 48px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station.active a span.tdtv,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.tdtv,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.tdtv
		{
		background: #A70A0B url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat
			-87px -16px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
		width: 39px;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station.active a span.tdn,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.tdn,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.tdn
		{
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat
			-135px -16px;
	}
	header.nav_header_01 div.mainnav ul li,header.nav_header_01 div.mainnav nav.social ul li{


	}
	header.nav_header_01 div.mainnav ul li,header.nav_header_01 div.mainnav nav.social ul li ul.dropdown li{
	box-shadow: none;
	}

	header.nav_header_01 div.mainnav ul li a i,header.nav_header_01 div.mainnav nav.social ul li a{
		background-image:none!important; 
		height:35px;
	}

	/* icon sizes */
	header.nav_header_01 div.mainnav ul li a i,header.nav_header_01 div.mainnav nav.social ul li a i
		{
		
		color: #fff !important;
		font-size: 14px;
		position: relative;
		line-height: 25px;
		vertical-align: baseline;
		display: inline;
	}
	header.nav_header_01 div.mainnav nav.social ul li:first-child a i { 
		font-size: 17px !important;
	}
	header.nav_header_01 div.mainnav nav.social ul li.station {
		border: 0px;
		margin-right: -4px;
	}

	header.nav_header_01 div.mainnav nav.social ul li.social {
		border: 0px;
		margin-right: -4px;
	}

	header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
		display: none;
	}
	/*header.nav_header_01 div.mainnav nav.social ul li.station a {
		padding: 0 7px !important;
		border-right: 1px solid #eaeaec;
		border-left: 1px solid #f3f3f3;
		*/
	}
	
	header.nav_header_01 div.mainnav nav.social a.toggle {
		color: #fff;
		height: 35px;
		width: 36px;
		text-align: center;
		line-height: 35px;
		font-size: 15px;
		display: inline-block;
		border-left: 1px solid #dadada;
		/*-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);*/
	}

	/* Collapsable content */
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav a {
		display: inline-block;
		color: #494a4c;
		height: 35px !important;
		line-height: 35px !important;
	}
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav .active,header.nav_header_01 div.collapsable-mainnav>div div.inner nav a:hover,header.nav_header_01 div.collapsable-mainnav>div div.inner nav .active a
		{
		color: #A70A0B;
		border: 0 none;
		display: inline-block;
		height: 35px !important;
		line-height: 35px !important;
	}
	header.nav_header_01 div.collapsable-mainnav {
		color: #494a4c;
	}
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav li.active,header.nav_header_01 div.collapsable-mainnav>div div.inner nav li:hover
		{
		display: inline-block;
		line-height: 35px;
		height: 35px;
		border-bottom: 3px solid #A70A0B;
	}
	header.nav_header_01 div.collapsable-mainnav>div div.inner nav li:hover a
		{
		color: #A70A0B;
	}
	header.nav_header_01 div.collapsable-mainnav nav.tabs ul li {
		display: inline-block;
	}
	header.nav_header_01 div.collapsable-mainnav nav.tabs ul li:last-child a
		{
		background: none;
	}
	header.nav_header_01 div.collapsable-mainnav .futbol.dropdown-content ul li.separator
		{
		height: 12px;
		border-bottom: 1px solid #ebebeb !important;
		margin-bottom: 12px;
		margin-right: 24px;
	}
	
	/* TDN */
	header.nav_header_01 .tdn.dropdown-content {
	   padding:0;
	}
	header.nav_header_01 .tdn.dropdown-content div.inner > a{
	    color:#A70A0B;
	    font-size:16px;
	    font-weight:bold;
	    line-height:22px;
	    height:22px;
	    padding-bottom:12px;
	    margin-bottom:24px;
	    border-bottom:1px solid #EBEBEB;
	    display:block;
	}
	header.nav_header_01 .tdn.dropdown-content div.inner span.topic {
	   font-size:12px;
	   font-style:italic;
	   color:#A70A0B;
	   font-weight:bold;
	   display:block;
	}
	header.nav_header_01 div.dropdown-content.tdn ul li a.featured {
	      line-height:17px!important;
	} 
	header.nav_header_01 .tdn.dropdown-content div.inner a span.desc {
	   color:#000;
	   font-size:14px;
	   font-weight:bold;
	}
	header.nav_header_01 .tdn.dropdown-content div.inner a:hover span.desc {
       color:#000;
    }
	
	header.nav_header_01 .tdn.dropdown-content div.inner img.featured {
	    float:left;
	    border-right:1px solid #EBEBEB;
	    margin:0 12px 12px 0;
	    padding-right:12px;
	    display:block;
	}
	header.nav_header_01 .tdn.dropdown-content div.inner div.subtab ul li {
	   clear:left;
	}
	header.nav_header_01 .tdn.dropdown-content div.inner div.subtab ul li a {
	   display:block;
	}
	nav.tabs ul li:first-child a {
		padding-left: 0;
	}
	nav.tabs ul li a {
		background:
			url("data:image/gif;base64,R0lGODlhAQAEAIABAKenp8XFxSH5BAEAAAEALAAAAAABAAQAAAICRF4AOw==")
			repeat-y scroll right top transparent;
		padding: 0 12px;
		display: inline-block;
		font-size: 12px;
		height: 35px;
		line-height: 35px;
	}
	nav.tabs ul li a:hover {
		color: #A70A0B !important;
		border-bottom: 3px solid #A70A0B;
	}
	ul.subtabs {
		width: 200px;
		border-right: 1px solid #EBEBEB;
	}
	ul.subtabs li a {
		display: block;
		font-weight: bold;
	}
	ul.subtabs li.active a,ul.subtabs li a:hover {
		color: #A70A0B !important;
		border-right: 3px solid #A70A0B;
	}
	.hide-tablet {
		display: none !important;
	}

	/* Bootstrap columns */
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,.row-fluid:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class^="span"] {
		/* display: block; */
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.127659574468085%;
		*margin-left: 2.074468085106383%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class^="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class^="span"] {
		margin-left: 2.127659574468085%;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.48936170212765%;
		*width: 91.43617021276594%;
	}
	.row-fluid .span10 {
		width: 82.97872340425532%;
		*width: 82.92553191489361%;
	}
	.row-fluid .span9 {
		width: 74.46808510638297%;
		*width: 74.41489361702126%;
	}
	.row-fluid .span8 {
		width: 65.95744680851064%;
		*width: 65.90425531914893%;
	}
	.row-fluid .span7 {
		width: 57.44680851063829%;
		*width: 57.39361702127659%;
	}
	.row-fluid .span6 {
		width: 48.93617021276595%;
		*width: 48.88297872340425%;
	}
	.row-fluid .span5 {
		width: 40.42553191489362%;
		*width: 40.37234042553192%;
	}
	.row-fluid .span4 {
		width: 31.914893617021278%;
		*width: 31.861702127659576%;
	}
	.row-fluid .span3 {
		width: 23.404255319148934%;
		*width: 23.351063829787233%;
	}
	.row-fluid .span2 {
		width: 14.893617021276595%;
		*width: 14.840425531914894%;
	}
	.row-fluid .span1 {
		width: 6.382978723404255%;
		*width: 6.329787234042553%;
	}
	.row {
		margin-left: -24px;
		*zoom: 1;
	}
	.row:before,.row:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.row:after {
		clear: both;
	}
	[class^="span"] {
		float: left;
		min-height: 1px;
		margin-left: 24px;
	}
	.span12 {
		width: 948px;
		background: green;
	}
	.span11 {
		width: 860px;
		/* background:cornsilk; */
	}
	.span10 {
		width: 780px;
		/* background:cornsilk; */
	}
	.span9 {
		width: 724px;
		/* background:orange; */
	}
	.span8 {
		width: 396px;
		/* background:mauve; */
	}
	.span7 {
		width: 540px;
		/* background:slategrey; */
	}
	.span6 {
		width: 460px;
		/* background:grey; */
	}
	.span5 {
		width: 380px;
		/* background:blue; */
	}
	.span4 {
		width: 300px;
		/* background:#708090; */
	}
	.span3 {
		width: 192px;
		/* background:#708090; */
	}
	.span8 .span3 {
		width: 125px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.row-fluid .offset1 {
		margin-left: 8.382978723%;
	}
	.row-fluid .offset2 {
		margin-left: 16.89361702%;
	}
	.row-fluid .offset3 {
		margin-left: 25.404255317%;
	}
	.row-fluid .offset4 {
		margin-left: 33.914893614%;
	}
	.row-fluid .offset5 {
		margin-left: 42.425531911%;
	}
	.row-fluid .offset6 {
		margin-left: 50.93617020799999%;
	}
	.row-fluid .offset7 {
		margin-left: 59.446808505%;
	}
	.row-fluid .offset8 {
		margin-left: 67.95744680199999%;
	}
	.row-fluid .offset9 {
		margin-left: 76.468085099%;
	}
	.row-fluid .offset10 {
		margin-left: 84.97872339599999%;
	}
	.row-fluid .offset11 {
		margin-left: 91.489361693%;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 36px;
	}
	header.nav_header_01 div.mainnav nav.social ul li a:focus i,header.nav_header_01 div.mainnav nav.social ul li a:active i
		{
		color: #FFF !important;
	}

	/* Top Navigation Collapsible */
	header.nav_header_01 div.collapsable-verticals {
		background: #efefef;
	}
	header.nav_header_01 div.collapsable-verticals div.inner {
		position: relative;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content {
		position: relative;
		background: #efefef;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content-inner
		{
		padding: 24px 0;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.open
		{
		display: block;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div {
		position: relative;
		clear: both;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering
		{
		position: absolute;
		top: 28px;
		right: 0;
		line-height: 18px;
		vertical-align: baseline;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a i
		{
		font-size: 16px;
		text-shadow: 1px 1px 0 #FFF;
		filter: dropshadow(color = #FFF, offx = 1, offy = 1);
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a
		{
		background: repeat-y top left
			url('data:image/gif;base64,R0lGODlhAQAEAIABAKenp8XFxSH5BAEAAAEALAAAAAABAAQAAAICRF4AOw==');
		padding: 0 8px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a:first-child
		{
		background: none;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div strong.maintitle
		{
		font-size: 18px;
		font-weight: bold;
		margin-left: 248px;
		border-bottom: 1px solid #d5d5d5;
		height: 50px;
		display: block;
		text-align: left;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div h3,header.nav_header_01 div.collapsable-verticals div.inner>div em.sectiontitle
		{
		font-style: italic;
		font-weight: bold;
		font-size: 14px;
		margin: 0 0 12px 0;
		display: block;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.categories,header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
		{
		padding-top: 24px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.categories
		{
		float: left;
		width: 168px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
		{
		margin-left: 248px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.categories ul li,header.nav_header_01 div.collapsable-verticals div.inner>div div.categories ul li a
		{
		display: block;
		height: 24px;
		line-height: 24px;
		font-weight: bold;
	}

	/* big news */
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news
		{
		display: none;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news img
		{
		width: 300px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news .likes
		{
		background: rgba(141, 141, 141, 0.6);
		height: 24px;
		line-height: 24px;
		color: #FFF;
		display: inline-block;
		padding: 0 8px;
		font-weight: bold;
		position: absolute;
		top: -24px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news span.figcaption
		{
		position: relative;
		background: #FFF;
		margin-left: 24px;
		margin-top: -24px;
		display: inline-block;
		padding: 12px 0;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news small.topic,header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news strong.title
		{
		padding: 0 36px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news small.topic
		{
		display: block;
		font-style: italic;
		font-weight: bold;
		font-size: 14px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news strong.title
		{
		display: block;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		padding-top: 6px;
	}

	/* small news */
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news
		{
		width: ￼￼￼￼￼￼￼￼￼￼84px !important;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a
		{
		position: relative;
		display: block;
		margin-left: 96px;
		margin-bottom: 12px;
		border-left: 1px solid #d5d5d5;
		min-height: 67px;
		padding-left: 12px;
		width: 192px;
		font-weight: bold;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a img
		{
		width: ￼￼￼￼￼￼￼￼￼￼84px;
		height: 67px;
		position: absolute;
		left: -96px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a span.sprite.photo-corner,header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a span.sprite.video-corner
		{
		position: absolute;
		top: 0;
		left: -52px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a small.tn.topic,header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a strong
		{
		display: block;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a small.topic
		{
		font-style: italic;
		font-size: 13px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div a small.td.topic
		{
		color: #D6A256;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div a small.tn.topic
		{
		color: #9ea31d;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div a small.te.topic
		{
		color: #0DA598;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div a small.tl.topic
		{
		color: #6C3C9F;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div a small.tt.topic
		{
		color: #DCC224;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a strong
		{
		font-size: 14px;
		line-height: 18px;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.small-news
		{
		margin: 0;
		float: none;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm
		{
		margin-left: 0;
		margin-top: 36px;
		width: 300px;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table
		{
		border-top: 1px solid #d5d5d5;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td
		{
		border-bottom: 1px solid #d5d5d5;
		height: 36px;
		line-height: 36px;
		font-weight: bold;
		text-align: center;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td.time,header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td.result
		{
		color: #6F0707;
		font-size: 16px;
		padding: 0 3px;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr.soon td.time,header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr.soon td.result
		{
		color: #D6A256;
	}
	header.nav_header_01 div.dropdown-content div.desktoponly {
    display:none;
    }
    .dropdown-content .span8 .span6 {width:100%;}
}