


@media screen {
    /* BEGIN: wdg_nwslt_01 (Small) */   
    .wdg_nwslt_01 {
        font-weight: bold;
        width: 300px;
        overflow: hidden;
        margin: 0 0 0 0;
        display: none;
    }
    .wdg_nwslt_01 .performance {
        display: none;
    }
    .ie7 .wdg_nwslt_01 {
        width: 300px;
    }
    .wdg_nwslt_01 .container-top {
        padding: 22px;
    }
    .wdg_nwslt_01 .title {
        padding: 0;
    }
    .wdg_nwslt_01 .title h3 {
        float: none;
        font-size: 14px;
    }
    .wdg_nwslt_01 .container-top {
        font-size: 14px;
        padding-bottom: 33px;
        color: #FFF;
    }
    .wdg_nwslt_01 .container-top p {
        padding-top: 10px;
    }
    div.wdg_nwslt_01 div .container-top p {
        width: 65%;
    }
    .wdg_nwslt_01 .container-top .img-download {
        width: 48px;
        height: 38px;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/newsletter-sprites.png) no-repeat 0 0;
        margin: 13px 0;
    }
    .wdg_nwslt_01 .container-email {
        background: #e0e0e0;
        box-shadow: inset 0 0 10px #aaa;
        font-size: 14px;
        font-style: italic;
        line-height: 37px;
        padding: 5px 24px;
        /*height: 22px;*/
    }
    .wdg_nwslt_01 .container-email a {
        color: #a1a1a1;
    }
    .wdg_nwslt_01 .container-email a .img-email {
        width: 24px;
        height: 19px;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/newsletter-sprites.png) no-repeat 0 -31px;
        float: left;
        margin: 10px 10px 0 0;
    }
    .wdg_nwslt_01 .container-btn {
        padding: 0;
    }

    .wdg_nwslt_01 .container-email .container-left {
    }
    .wdg_nwslt_01 .container-email .container-right {
        height: 22px;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/newsletter-sprites.png) no-repeat 0 -29px;
        padding-left: 25px;
    }
  
    /* END: wdg_nwslt_01 (Small) */

}
@media screen and (min-width: 624px){
    .wdg_nwslt_01 {
        display: block;
        margin-bottom:36px;
    }
}
@media screen and (min-width: 948px){    
    .wdg_nwslt_01{
        display: block;
    }
    .ie7 .wdg_nwslt_01{
        display: block;
    }
    .ie7 .wdg_nwslt_01 .container-top p{
        margin-left:20px;
        margin-right:20px;
    }
    .ie7 .wdg_nwslt_01  .container-top .img-download {
        margin-left:15px;
    }

}

.wdg_nwslt_01 .container-btn .subscribe {
    display: block;
    width: 50% !important;
    background-color: #398218 !important;
    color: #fff !important;
    font-weight: bolder !important;
    float: right !important;
    font-size: 13px !important;
    font-style: italic !important;
    padding: 8px !important;
    margin-top: 0px !important;
    border: none !important;
    text-align: left !important;
    padding-left: 16px !important;
    background-image: none !important;
    height: auto !important;
    cursor:pointer !important;
}

.wdg_nwslt_01 .container-email .container-right .email-txt {
    margin-top: -3px !important;
    width: 100% !important;
    float: right !important;
    border: none !important;
    background: #e0e0e0 !important;
    color: #8d8d8d !important;
    font: normal normal 100% Trebuchet MS, Arial, sans-serif !important;
    font-style: italic !important;
    font-size: 14px !important;
    padding-left: 5px !important;
}
