@media screen and (min-width: 624px){
    /*Wrap*/
    .td_mxm_cronica_01 .main{
        width: 624px;
        margin:auto;
    }
    /* Contenedor principal */
    .td_mxm_cronica_01 .main .c1{
        float:none;
        clear:both;
        overflow: hidden;
    }
	.td_mxm_cronica_01 .main .c1 .c1_1{
		clear: both;
		overflow: hidden;   
	}
    /* Contenedor derecho */
    .td_mxm_cronica_01 .main .c2{
		width:624px;
        float:none;
        overflow: hidden;
    }
	.td_mxm_cronica_01 .main .c3{
		clear:none;
	}
    .td_mxm_cronica_01 .main .c2 .c2_2{
		width:300px; 
    }
	/*Contenedor social*/
	.td_mxm_cronica_01 .main .c1 .c1_2 .art_reltd_01{
		border-right: 1px dashed #CCC;	
	}
	.td_mxm_cronica_01 .main .c1 .c1_3{
		width:300px;
	}

}