@media screen {

    .nav_team_header_01{
        width: 100%;
        overflow: hidden;
        margin-bottom: 19px;
        clear: both;
    }


    .nav_team_header_01 .nav_team_header_01_right
    {
        width: 100%;
        /*height: 34px;
        overflow: hidden;*/
        /*margin: 12px;*/
        margin: 0 auto;
    }

    .nav_team_header_01 .separator{
        border-bottom: 1px solid #8f8f8f;
        margin: 0 auto;
        width: 80%;
    }
    .nav_team_header_01 .nav_team_header_01_container{
        /*border-bottom: 1px solid #8f8f8f;*/
        height: 65px;
        margin: 19px auto !important;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 4px;
        width: 100%;

    }

    .nav_team_header_01 .nav_team_header_01_theme{
        border-bottom: 1px solid #8f8f8f;
        height: 28px;
    }
    .nav_team_header_01 .nav_team_header_01_theme li:last-of-type p{
        padding-right: 0 !important;
    }

    .ie7 .nav_team_header_01 .nav_team_header_01_container{
        border-bottom: 1px solid #8f8f8f;
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_left{
        height: 575px;
        width: 190px;
        float:none;
        display: none;
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_components ul li{
        float: left;
        margin-right: 15px;
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer{
        clear: both;
        margin: 0 auto;
        width: 284px;
        overflow: hidden;
        margin-left: 24px;
    }

    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav{
        width: 220px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 5px;
        overflow: auto;
		overflow-y:hidden;
        float: left;
        border-bottom: 1px solid #8f8f8f;
        height: 46px;
    }

    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_components{
        width: 220px;
        height: 400px;
        overflow: hidden;
        float: left;
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_components .nav_team_header_01_list{
        height: 400px;
    } 
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li{
        float: left;
    }    
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li.selected{
        border-bottom: 3px solid #569269;

    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li.selected a{
        /*color: #569269;*/
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li a{
        color: #8f8f8f;
        text-decoration: none;
    }
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li a p{
        background:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/dotted-vertical.png) repeat-y 100% 0;
        height: 17px;
        padding-right: 24px;
        padding-left: 24px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    } 
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li:last-child a p{
    	border-right:none;
		background:none;
    } 
    .nav_team_header_01 .nav_team_header_01_container .nav_team_header_01_right .nav_team_header_01_navcontainer .nav_team_header_01_nav ul li:nth-child(1) a p{
        padding-left: 0px;
    }
    .nav_team_header_01 .nav_team_header_01_mobileright{
        float: left;
        margin-left: 30px;
        display: block;
        margin-top: 50px;
    }
    .nav_team_header_01 .nav_team_header_01_mobileleft{
        float: left;
        margin-right: 40px;
        display: block;
        margin-top: 50px;
    }
    .nav_team_header_01 .nav_team_header_01_mobileleft .wdg_matchesresult_leftmobile{
        display: inline-block;
        width: 14px;
        height: 20px;
    }
    .nav_team_header_01 .nav_team_header_01_mobileright .wdg_matchesresult_rightmobile{
        display: inline-block;
        width: 14px;
        height: 20px;
    }

    .nav_team_header_01 .wdg_matchesresult_navlefticon{
        display: inline-block;
        width: 11px;
        height: 20px;
    }
    .nav_team_header_01 .wdg_matchesresult_navrighticon{
        display: inline-block;
        width: 11px;
        height: 20px;
    }

    .nav_team_header_01 .wdg_matchesresult_navarrowleft{
        float: left;
        margin-top: 5px; 
        margin-right: 20px; 

    }
    .nav_team_header_01 .wdg_matchesresult_navarrowright{
        float: left;
        margin-top: 5px;
        /*margin-left: 10px;*/
        margin-left: 20px; 
    }
	.nav_team_header_01 .fondo{
		margin:0 auto;
		padding-left: 0;
    	width: 100%;
		height:82px;
		/*background-image:url(http://lorempixel.com/940/97/abstract/);*/
/*		background-color:#63C;
*/		background-repeat:no-repeat;
    }
	.nav_team_header_01 .fondo .logo{
		position:relative;
		width:108px;
		height:68px;
		left: 12px;
		top: -215px;
        z-index: 5;
    }
	.nav_team_header_01 .fondo .texto{
		font-style: italic;
        font-size: 22px;
        position: relative;
        width: 180px;
        height: 46px;
        left: 128px;
        top: 56px;
        line-height: 22px;
		overflow: hidden;
    }
	
	.nav_team_header_01 .box{
		height:36px;
		position:relative;
		overflow:hidden;
		float:left;
    }
	.nav_team_header_01 .gradiente_head .img_grad{
		height:97px;
		width:100%;
    }
	.nav_team_header_01 .degradado_head{
		position:relative;
		background-image:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/path_text_headerEquipos.png);

        height:97px;
		top:-96px;
    }
	.nav_team_header_01 .sombra{
/*		margin: 0 0 0 190px;*/
		padding-left: 0px;
		/*width:auto;*/
		height:18px;
        background:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sombra.png)no-repeat;
		float: left;

    }

    .nav_team_header_01 .gradiente_head{
        height:82px;
        width:100%;
        z-index: 3;

    }

    .nav_team_header_01  .textura{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 948px;
    height: 97px !important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P8//+/JAMQMDIyPgfTGAIgUWTAiC4AALpdCAUeKwe9AAAAAElFTkSuQmCC)repeat;   ;
    }

 .nav_team_header_01  .alemania{
/*     Pinta gradient*/
        background-image: linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -o-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -moz-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -webkit-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -ms-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #151515),
            color-stop(0.61, #383939)
        );
        /*Finaliza gradient*/
         }

.nav_team_header_01  .argelia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #d70307 30%, #fd3d4d 61%);
        background-image: -o-linear-gradient(left , #d70307 30%, #fd3d4d 61%);
        background-image: -moz-linear-gradient(left , #d70307 30%, #fd3d4d 61%);
        background-image: -webkit-linear-gradient(left , #d70307 30%, #fd3d4d 61%);
        background-image: -ms-linear-gradient(left , #d70307 30%, #fd3d4d 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #d70307),
            color-stop(0.61, #fd3d4d)
        );



        /*Finaliza gradient*/

}

.nav_team_header_01  .argentina{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #326b9d 30%, #77aad7 61%);
        background-image: -o-linear-gradient(left , #326b9d 30%, #77aad7 61%);
        background-image: -moz-linear-gradient(left , #326b9d 30%, #77aad7 61%);
        background-image: -webkit-linear-gradient(left , #326b9d 30%, #77aad7 61%);
        background-image: -ms-linear-gradient(left , #326b9d 30%, #77aad7 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #326b9d),
            color-stop(0.61, #77aad7)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .australia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #123d33 30%, #11725c 61%);
        background-image: -o-linear-gradient(left , #123d33 30%, #11725c 61%);
        background-image: -moz-linear-gradient(left , #123d33 30%, #11725c 61%);
        background-image: -webkit-linear-gradient(left , #123d33 30%, #11725c 61%);
        background-image: -ms-linear-gradient(left , #123d33 30%, #11725c 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #123d33),
            color-stop(0.61, #11725c)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .belgica{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -o-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -moz-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -webkit-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -ms-linear-gradient(left , #151515 30%, #383939 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #151515),
            color-stop(0.61, #383939)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .bosnia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #005298 30%, #1074c8 61%);
        background-image: -o-linear-gradient(left , #005298 30%, #1074c8 61%);
        background-image: -moz-linear-gradient(left , #005298 30%, #1074c8 61%);
        background-image: -webkit-linear-gradient(left , #005298 30%, #1074c8 61%);
        background-image: -ms-linear-gradient(left , #005298 30%, #1074c8 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #005298),
            color-stop(0.61, #1074c8)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .brasil{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #09046b 30%, #0f08a4 61%);
        background-image: -o-linear-gradient(left , #09046b 30%, #0f08a4 61%);
        background-image: -moz-linear-gradient(left , #09046b 30%, #0f08a4 61%);
        background-image: -webkit-linear-gradient(left , #09046b 30%, #0f08a4 61%);
        background-image: -ms-linear-gradient(left , #09046b 30%, #0f08a4 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #09046b),
            color-stop(0.61, #0f08a4)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .camerun{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #014d3a 30%, #016a59 61%);
        background-image: -o-linear-gradient(left , #014d3a 30%, #016a59 61%);
        background-image: -moz-linear-gradient(left , #014d3a 30%, #016a59 61%);
        background-image: -webkit-linear-gradient(left , #014d3a 30%, #016a59 61%);
        background-image: -ms-linear-gradient(left , #014d3a 30%, #016a59 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #014d3a),
            color-stop(0.61, #016a59)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .chile{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #033a7b 30%, #0551ac 61%);
        background-image: -o-linear-gradient(left , #033a7b 30%, #0551ac 61%);
        background-image: -moz-linear-gradient(left , #033a7b 30%, #0551ac 61%);
        background-image: -webkit-linear-gradient(left , #033a7b 30%, #0551ac 61%);
        background-image: -ms-linear-gradient(left , #033a7b 30%, #0551ac 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #033a7b),
            color-stop(0.61, #0551ac)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .colombia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -o-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -moz-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -ms-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #062665),
            color-stop(0.61, #1b3e82)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .corea-del-sur{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #d70314 30%, #f83747 61%);
        background-image: -o-linear-gradient(left , #d70314 30%, #f83747 61%);
        background-image: -moz-linear-gradient(left , #d70314 30%, #f83747 61%);
        background-image: -webkit-linear-gradient(left , #d70314 30%, #f83747 61%);
        background-image: -ms-linear-gradient(left , #d70314 30%, #f83747 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #d70314),
            color-stop(0.61, #f83747)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .costa-de-marfil{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #1e9f61 30%, #37d086 61%);
        background-image: -o-linear-gradient(left , #1e9f61 30%, #37d086 61%);
        background-image: -moz-linear-gradient(left , #1e9f61 30%, #37d086 61%);
        background-image: -webkit-linear-gradient(left , #1e9f61 30%, #37d086 61%);
        background-image: -ms-linear-gradient(left , #1e9f61 30%, #37d086 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #1e9f61),
            color-stop(0.61, #37d086)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .costa-rica{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #d5021c 30%, #ef2640 61%);
        background-image: -o-linear-gradient(left , #d5021c 30%, #ef2640 61%);
        background-image: -moz-linear-gradient(left , #d5021c 30%, #ef2640 61%);
        background-image: -webkit-linear-gradient(left , #d5021c 30%, #ef2640 61%);
        background-image: -ms-linear-gradient(left , #d5021c 30%, #ef2640 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #d5021c),
            color-stop(0.61, #ef2640)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .croacia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #b7132c 30%, #e0243d 61%);
        background-image: -o-linear-gradient(left , #b7132c 30%, #e0243d 61%);
        background-image: -moz-linear-gradient(left , #b7132c 30%, #e0243d 61%);
        background-image: -webkit-linear-gradient(left , #b7132c 30%, #e0243d 61%);
        background-image: -ms-linear-gradient(left , #b7132c 30%, #e0243d 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #b7132c),
            color-stop(0.61, #e0243d)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .ecuador{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #1a2f68 30%, #2c4484 61%);
        background-image: -o-linear-gradient(left , #1a2f68 30%, #2c4484 61%);
        background-image: -moz-linear-gradient(left , #1a2f68 30%, #2c4484 61%);
        background-image: -webkit-linear-gradient(left , #1a2f68 30%, #2c4484 61%);
        background-image: -ms-linear-gradient(left , #1a2f68 30%, #2c4484 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #1a2f68),
            color-stop(0.61, #2c4484)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .espana{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #e1a504 30%, #fcc31a 61%);
        background-image: -o-linear-gradient(left , #e1a504 30%, #fcc31a 61%);
        background-image: -moz-linear-gradient(left , #e1a504 30%, #fcc31a 61%);
        background-image: -webkit-linear-gradient(left , #e1a504 30%, #fcc31a 61%);
        background-image: -ms-linear-gradient(left , #e1a504 30%, #fcc31a 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #e1a504),
            color-stop(0.61, #fcc31a)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .estados-unidos{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #0e2551 30%, #1a3668 61%);
        background-image: -o-linear-gradient(left , #0e2551 30%, #1a3668 61%);
        background-image: -moz-linear-gradient(left , #0e2551 30%, #1a3668 61%);
        background-image: -webkit-linear-gradient(left , #0e2551 30%, #1a3668 61%);
        background-image: -ms-linear-gradient(left , #0e2551 30%, #1a3668 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #0e2551),
            color-stop(0.61, #1a3668)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .francia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #121b3e 30%, #123866 61%);
        background-image: -o-linear-gradient(left , #121b3e 30%, #123866 61%);
        background-image: -moz-linear-gradient(left , #121b3e 30%, #123866 61%);
        background-image: -webkit-linear-gradient(left , #121b3e 30%, #123866 61%);
        background-image: -ms-linear-gradient(left , #121b3e 30%, #123866 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #121b3e),
            color-stop(0.61, #123866)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .ghana{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #b90706 30%, #cc3943 61%);
        background-image: -o-linear-gradient(left , #b90706 30%, #cc3943 61%);
        background-image: -moz-linear-gradient(left , #b90706 30%, #cc3943 61%);
        background-image: -webkit-linear-gradient(left , #b90706 30%, #cc3943 61%);
        background-image: -ms-linear-gradient(left , #b90706 30%, #cc3943 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #b90706),
            color-stop(0.61, #cc3943)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .grecia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -o-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -moz-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -ms-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #062665),
            color-stop(0.61, #1b3e82)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .holanda{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #fe5a00 30%, #fb803d 61%);
        background-image: -o-linear-gradient(left , #fe5a00 30%, #fb803d 61%);
        background-image: -moz-linear-gradient(left , #fe5a00 30%, #fb803d 61%);
        background-image: -webkit-linear-gradient(left , #fe5a00 30%, #fb803d 61%);
        background-image: -ms-linear-gradient(left , #fe5a00 30%, #fb803d 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #fe5a00),
            color-stop(0.61, #fb803d)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .honduras{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -o-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -moz-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -ms-linear-gradient(left , #062665 30%, #1b3e82 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #062665),
            color-stop(0.61, #1b3e82)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .inglaterra{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #011743 30%, #03276e 61%);
        background-image: -o-linear-gradient(left , #011743 30%, #03276e 61%);
        background-image: -moz-linear-gradient(left , #011743 30%, #03276e 61%);
        background-image: -webkit-linear-gradient(left , #011743 30%, #03276e 61%);
        background-image: -ms-linear-gradient(left , #011743 30%, #03276e 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #011743),
            color-stop(0.61, #03276e)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .iran{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #c20214 30%, #e4272e 61%);
        background-image: -o-linear-gradient(left , #c20214 30%, #e4272e 61%);
        background-image: -moz-linear-gradient(left , #c20214 30%, #e4272e 61%);
        background-image: -webkit-linear-gradient(left , #c20214 30%, #e4272e 61%);
        background-image: -ms-linear-gradient(left , #c20214 30%, #e4272e 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #c20214),
            color-stop(0.61, #e4272e)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .italia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #0d5db2 30%, #0190cc 61%);
        background-image: -o-linear-gradient(left , #0d5db2 30%, #0190cc 61%);
        background-image: -moz-linear-gradient(left , #0d5db2 30%, #0190cc 61%);
        background-image: -webkit-linear-gradient(left , #0d5db2 30%, #0190cc 61%);
        background-image: -ms-linear-gradient(left , #0d5db2 30%, #0190cc 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #0d5db2),
            color-stop(0.61, #0190cc)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .japon{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #21314c 30%, #153e84 61%);
        background-image: -o-linear-gradient(left , #21314c 30%, #153e84 61%);
        background-image: -moz-linear-gradient(left , #21314c 30%, #153e84 61%);
        background-image: -webkit-linear-gradient(left , #21314c 30%, #153e84 61%);
        background-image: -ms-linear-gradient(left , #21314c 30%, #153e84 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #21314c),
            color-stop(0.61, #153e84)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .mexico{
       background-color: green;
       background-image: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/back_tri.jpg);
       background-position: 0 14px;
       z-index: 3;
}

.nav_team_header_01  .nigeria{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #c02127 30%, #f84b51 61%);
        background-image: -o-linear-gradient(left , #c02127 30%, #f84b51 61%);
        background-image: -moz-linear-gradient(left , #c02127 30%, #f84b51 61%);
        background-image: -webkit-linear-gradient(left , #c02127 30%, #f84b51 61%);
        background-image: -ms-linear-gradient(left , #c02127 30%, #f84b51 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #c02127),
            color-stop(0.61, #f84b51)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .portugal{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #00552a 30%, #008b59 61%);
        background-image: -o-linear-gradient(left , #00552a 30%, #008b59 61%);
        background-image: -moz-linear-gradient(left , #00552a 30%, #008b59 61%);
        background-image: -webkit-linear-gradient(left , #00552a 30%, #008b59 61%);
        background-image: -ms-linear-gradient(left , #00552a 30%, #008b59 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #00552a),
            color-stop(0.61, #008b59)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .rusia{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #c50210 30%, #fb1a29 61%);
        background-image: -o-linear-gradient(left , #c50210 30%, #fb1a29 61%);
        background-image: -moz-linear-gradient(left , #c50210 30%, #fb1a29 61%);
        background-image: -webkit-linear-gradient(left , #c50210 30%, #fb1a29 61%);
        background-image: -ms-linear-gradient(left , #c50210 30%, #fb1a29 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #c50210),
            color-stop(0.61, #fb1a29)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .suiza{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #740416 30%, #8a061c 61%);
        background-image: -o-linear-gradient(left , #740416 30%, #8a061c 61%);
        background-image: -moz-linear-gradient(left , #740416 30%, #8a061c 61%);
        background-image: -webkit-linear-gradient(left , #740416 30%, #8a061c 61%);
        background-image: -ms-linear-gradient(left , #740416 30%, #8a061c 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #740416),
            color-stop(0.61, #8a061c)
        );
        /*Finaliza gradient*/

}
.nav_team_header_01  .uruguay{
     /*Pinta gradient*/
        background-image: linear-gradient(left , #63a2db 30%, #81cbff 61%);
        background-image: -o-linear-gradient(left , #63a2db 30%, #81cbff 61%);
        background-image: -moz-linear-gradient(left , #63a2db 30%, #81cbff 61%);
        background-image: -webkit-linear-gradient(left , #63a2db 30%, #81cbff 61%);
        background-image: -ms-linear-gradient(left , #63a2db 30%, #81cbff 61%);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.3, #63a2db),
            color-stop(0.61, #81cbff)
        );
        /*Finaliza gradient*/




}




/*////////////////////*/

div.nav_team_header_01_nav ul #alemania a{
    color:#d70307  !important;
}
div.nav_team_header_01_nav ul #alemania {
    border-bottom:solid 2px #d70307  !important;
}

div.nav_team_header_01_nav ul #alemania a p:hover{
    color:#d70307  !important;
}
div.nav_team_header_01_nav ul #alemania:hover {
    border-bottom:solid 2px #d70307 !important;
}
/*////////////////////*/
/*////////////////////*/

div.nav_team_header_01_nav ul #argelia a{
    color:#12a450 !important;
}
div.nav_team_header_01_nav ul #argelia {
    border-bottom:solid 2px #12a450 !important;
}

div.nav_team_header_01_nav ul #argelia a p:hover{
    color:#12a450 !important;
}
div.nav_team_header_01_nav ul #argelia:hover {
    border-bottom:solid 2px #12a450 !important;
}
/*////////////////////*/
/*////////////////////*/

div.nav_team_header_01_nav ul #argentina a{
    color:#dc9822 !important;
}
div.nav_team_header_01_nav ul #argentina {
    border-bottom:solid 2px #dc9822 !important;
}

div.nav_team_header_01_nav ul #argentina a p:hover{
    color:#dc9822 !important;
}
div.nav_team_header_01_nav ul #argentina:hover {
    border-bottom:solid 2px #dc9822 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #australia a{
    color:#d70307 !important;
}
div.nav_team_header_01_nav ul #australia {
    border-bottom:solid 2px #d70307 !important;
}

div.nav_team_header_01_nav ul #australia a p:hover{
    color:#d70307 !important;
}
div.nav_team_header_01_nav ul #australia:hover {
    border-bottom:solid 2px #d70307 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #belgica a{
    color:#c91402 !important;
}
div.nav_team_header_01_nav ul #belgica {
    border-bottom:solid 2px #c91402 !important;
}

div.nav_team_header_01_nav ul #belgica a p:hover{
    color:#c91402 !important;
}
div.nav_team_header_01_nav ul #belgica:hover {
    border-bottom:solid 2px #c91402 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #bosnia a{
    color:#242983 !important;
}
div.nav_team_header_01_nav ul #bosnia {
    border-bottom:solid 2px #242983 !important;
}

div.nav_team_header_01_nav ul #bosnia a p:hover{
    color:#242983 !important;
}
div.nav_team_header_01_nav ul #bosnia:hover {
    border-bottom:solid 2px #242983 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #brasil a{
    color:#148237 !important;
}
div.nav_team_header_01_nav ul #brasil {
    border-bottom:solid 2px #148237 !important;
}

div.nav_team_header_01_nav ul #brasil a p:hover{
    color:#148237 !important;
}
div.nav_team_header_01_nav ul #brasil:hover {
    border-bottom:solid 2px #148237 !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #camerun a{
    color:#c71829 !important;
}
div.nav_team_header_01_nav ul #camerun {
    border-bottom:solid 2px #c71829 !important;
}

div.nav_team_header_01_nav ul #camerun a p:hover{
    color:#c71829 !important;
}
div.nav_team_header_01_nav ul #camerun:hover {
    border-bottom:solid 2px #c71829 !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #chile a{
    color:#dd0320 !important;
}
div.nav_team_header_01_nav ul #chile {
    border-bottom:solid 2px #dd0320 !important;
}

div.nav_team_header_01_nav ul #chile a p:hover{
    color:#dd0320 !important;
}
div.nav_team_header_01_nav ul #chile:hover {
    border-bottom:solid 2px #dd0320 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #colombia a{
    color:#cd0d27 !important;
}
div.nav_team_header_01_nav ul #colombia {
    border-bottom:solid 2px #cd0d27 !important;
}

div.nav_team_header_01_nav ul #colombia a p:hover{
    color:#cd0d27 !important;
}
div.nav_team_header_01_nav ul #colombia:hover {
    border-bottom:solid 2px #cd0d27 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #corea-del-sur a{
    color:#1c3577 !important;
}
div.nav_team_header_01_nav ul #corea-del-sur {
    border-bottom:solid 2px #1c3577 !important;
}

div.nav_team_header_01_nav ul #corea-del-sur a p:hover{
    color:#1c3577 !important;
}
div.nav_team_header_01_nav ul #corea-del-sur:hover {
    border-bottom:solid 2px #1c3577 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #costa-de-marfil a{
    color:#fd7a00 !important;
}
div.nav_team_header_01_nav ul #costa-de-marfil {
    border-bottom:solid 2px #fd7a00 !important;
}

div.nav_team_header_01_nav ul #costa-de-marfil a p:hover{
    color:#fd7a00 !important;
}
div.nav_team_header_01_nav ul #costa-de-marfil:hover {
    border-bottom:solid 2px #fd7a00 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #costa-rica a{
    color:#22377a !important;
}
div.nav_team_header_01_nav ul #costa-rica {
    border-bottom:solid 2px #22377a !important;
}

div.nav_team_header_01_nav ul #costa-rica a p:hover{
    color:#22377a !important;
}
div.nav_team_header_01_nav ul #costa-rica:hover {
    border-bottom:solid 2px #22377a !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #croacia a{
    color:#22377a !important;
}
div.nav_team_header_01_nav ul #croacia {
    border-bottom:solid 2px #22377a !important;
}

div.nav_team_header_01_nav ul #croacia a p:hover{
    color:#22377a !important;
}
div.nav_team_header_01_nav ul #croacia:hover {
    border-bottom:solid 2px #22377a !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #ecuador a{
    color:#cd0d27 !important;
}
div.nav_team_header_01_nav ul #ecuador {
    border-bottom:solid 2px #cd0d27 !important;
}

div.nav_team_header_01_nav ul #ecuador a p:hover{
    color:#cd0d27 !important;
}
div.nav_team_header_01_nav ul #ecuador:hover {
    border-bottom:solid 2px #cd0d27 !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #espana a{
    color:#d61a2b !important;
}
div.nav_team_header_01_nav ul #espana {
    border-bottom:solid 2px #d61a2b !important;
}

div.nav_team_header_01_nav ul #espana a p:hover{
    color:#d61a2b !important;
}
div.nav_team_header_01_nav ul #espana:hover {
    border-bottom:solid 2px #d61a2b !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #estados-unidos a{
    color:#d70307 !important;
}
div.nav_team_header_01_nav ul #estados-unidos {
    border-bottom:solid 2px #d70307 !important;
}

div.nav_team_header_01_nav ul #estados-unidos a p:hover{
    color:#d70307 !important;
}
div.nav_team_header_01_nav ul #estados-unidos:hover {
    border-bottom:solid 2px #d70307 !important;
}
/*////////////////////*/



/*////////////////////*/

div.nav_team_header_01_nav ul #francia a{
    color:#e81f32 !important;
}
div.nav_team_header_01_nav ul #francia {
    border-bottom:solid 2px #e81f32 !important;
}

div.nav_team_header_01_nav ul #francia a p:hover{
    color:#e81f32 !important;
}
div.nav_team_header_01_nav ul #francia:hover {
    border-bottom:solid 2px #e81f32 !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #ghana a{
    color:#086c40 !important;
}
div.nav_team_header_01_nav ul #ghana {
    border-bottom:solid 2px #086c40 !important;
}

div.nav_team_header_01_nav ul #ghana a p:hover{
    color:#086c40 !important;
}
div.nav_team_header_01_nav ul #ghana:hover {
    border-bottom:solid 2px #086c40 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #grecia a{
    color:#17b0d9 !important;
}
div.nav_team_header_01_nav ul #grecia {
    border-bottom:solid 2px #17b0d9 !important;
}

div.nav_team_header_01_nav ul #grecia a p:hover{
    color:#17b0d9 !important;
}
div.nav_team_header_01_nav ul #grecia:hover {
    border-bottom:solid 2px #17b0d9 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #holanda a{
    color:#2c62c3 !important;
}
div.nav_team_header_01_nav ul #holanda {
    border-bottom:solid 2px #2c62c3 !important;
}

div.nav_team_header_01_nav ul #holanda a p:hover{
    color:#2c62c3 !important;
}
div.nav_team_header_01_nav ul #holanda:hover {
    border-bottom:solid 2px #2c62c3 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #honduras a{
    color:#0595fa !important;
}
div.nav_team_header_01_nav ul #honduras {
    border-bottom:solid 2px #0595fa !important;
}

div.nav_team_header_01_nav ul #honduras a p:hover{
    color:#0595fa !important;
}
div.nav_team_header_01_nav ul #honduras:hover {
    border-bottom:solid 2px #0595fa !important;
}
/*////////////////////*/
/*////////////////////*/

div.nav_team_header_01_nav ul #inglaterra a{
    color:#ae0221 !important;
}
div.nav_team_header_01_nav ul #inglaterra {
    border-bottom:solid 2px #ae0221 !important;
}

div.nav_team_header_01_nav ul #inglaterra a p:hover{
    color:#ae0221 !important;
}
div.nav_team_header_01_nav ul #inglaterra:hover {
    border-bottom:solid 2px #ae0221 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #iran a{
    color:#267d5d !important;
}
div.nav_team_header_01_nav ul #iran {
    border-bottom:solid 2px #267d5d !important;
}

div.nav_team_header_01_nav ul #iran a p:hover{
    color:#267d5d !important;
}
div.nav_team_header_01_nav ul #iran:hover {
    border-bottom:solid 2px #267d5d !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #italia a{
    color:#d21b2c !important;
}
div.nav_team_header_01_nav ul #italia {
    border-bottom:solid 2px #d21b2c !important;
}

div.nav_team_header_01_nav ul #italia a p:hover{
    color:#d21b2c !important;
}
div.nav_team_header_01_nav ul #italia:hover {
    border-bottom:solid 2px #d21b2c !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #japon a{
    color:#dc353b !important;
}
div.nav_team_header_01_nav ul #japon {
    border-bottom:solid 2px #dc353b !important;
}

div.nav_team_header_01_nav ul #japon a p:hover{
    color:#dc353b !important;
}
div.nav_team_header_01_nav ul #japon:hover {
    border-bottom:solid 2px #dc353b !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #mexico a{
    color:#148a33 !important;
}
div.nav_team_header_01_nav ul #mexico {
    border-bottom:solid 2px #148a33 !important;
}

div.nav_team_header_01_nav ul #mexico a p:hover{
    color:#148a33 !important;
}
div.nav_team_header_01_nav ul #mexico:hover {
    border-bottom:solid 2px #148a33 !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #nigeria a{
    color:#00674e !important;
}
div.nav_team_header_01_nav ul #nigeria {
    border-bottom:solid 2px #00674e !important;
}

div.nav_team_header_01_nav ul #nigeria a p:hover{
    color:#00674e !important;
}
div.nav_team_header_01_nav ul #nigeria:hover {
    border-bottom:solid 2px #00674e !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #portugal a{
    color:#cb1c29 !important;
}
div.nav_team_header_01_nav ul #portugal {
    border-bottom:solid 2px #cb1c29 !important;
}

div.nav_team_header_01_nav ul #portugal a p:hover{
    color:#cb1c29 !important;
}
div.nav_team_header_01_nav ul #portugal:hover {
    border-bottom:solid 2px #cb1c29 !important;
}
/*////////////////////*/
/*////////////////////*/

div.nav_team_header_01_nav ul #rusia a{
    color:#3061ae !important;
}
div.nav_team_header_01_nav ul #rusia {
    border-bottom:solid 2px #3061ae !important;
}

div.nav_team_header_01_nav ul #rusia a p:hover{
    color:#3061ae !important;
}
div.nav_team_header_01_nav ul #rusia:hover {
    border-bottom:solid 2px #3061ae !important;
}
/*////////////////////*/

/*////////////////////*/

div.nav_team_header_01_nav ul #suiza a{
    color:#fa2147 !important;
}
div.nav_team_header_01_nav ul #suiza {
    border-bottom:solid 2px #fa2147 !important;
}

div.nav_team_header_01_nav ul #suiza a p:hover{
    color:#fa2147 !important;
}
div.nav_team_header_01_nav ul #suiza:hover {
    border-bottom:solid 2px #fa2147 !important;
}
/*////////////////////*/


/*////////////////////*/

div.nav_team_header_01_nav ul #uruguay a{
    color:#043970 !important;
}
div.nav_team_header_01_nav ul #uruguay {
    border-bottom:solid 2px #043970 !important;
}

div.nav_team_header_01_nav ul #uruguay a p:hover{
    color:#043970 !important;
}
div.nav_team_header_01_nav ul #uruguay:hover {
    border-bottom:solid 2px #043970 !important;
}
/*////////////////////*/















}