@media screen and (min-width: 948px){
	
	.background-color{
		background: #59a529 !important;
	}

	.wdg_resultados > ul {
      background-image:none;
    }

	.wdg_resultados > div .prev, 
    .wdg_resultados > div .next {
        display: block;
    }
	.wdg_resultados .degradado{
		height: 35px;
		display:none;
	}

	.ie7 .wdg_resultados > ul li div:first-child {
      left: 0;
      filter: alpha(opacity=100);
	  z-index: 1000 !important;
    }
    .ie8 .wdg_resultados > ul li div:first-child {
      filter: alpha(opacity=100);
    }

	.wdg_resultados .lineaResultado{
		height: 35px;
	}


	.wdg_resultados .degraded{
		display:none;
	}

	 .ie7 .wdg_resultados .division{
		 margin-bottom:0px;
	 }

    .wdg_resultados .controls {
        border-style:solid;
    }

}