@media screen and (min-width: 948px) {
	/* BEGIN: Global (Large) */
	.wdg_top10_01 {
		margin-bottom: 24px;
		display: block;
	}
	.wdg_top10_01 .wdg_top10_01_title {
		width: 300px;
	}
	.wdg_top10_01 .bullets{
    	display: none;
    }
	.wdg_top10_01 .wt10_arrows{
		 display:block;		
    }
	/* END: Global (Large) */
	.ie7 .wdg_top10_01 .wdg_carousa .wdg_top10_01_carousel ul li .last{
		
		padding-top: 0 !important;
	}
	
	.ie7 .wdg_top10_01 .wdg_top10_01_title {
		margin-bottom: 0px;
	}
}
