@media screen and (min-width: 624px){

/*pleca*/
.background-color-pleca1{
 background: #59a529;
 color:#fff;
}

.background-color-pleca1 .textcolor-title3{
 color:#fff;
}

    .wdg_poll_01{
        width: 300px;
        margin-bottom: 36px;
        zoom: 1;
        display: block;
    }  
    .wdg_poll_01:before,
    .wdg_poll_01:after {
        content: "";
        display: table;
    }
    .wdg_poll_01:after {
        clear: both;
    }
    .wdg_poll_01 div {
        width: 100%;
    }
    .wdg_poll_01 div p {
        font-size: 15px;
        font-weight: bold;
    }
    .wdg_poll_01 div:nth-child(2) {
        width: 95%;
        margin-top: 5px;
    }
    .wdg_poll_01 form {
        margin-top: 20px;
    }
    .wdg_poll_01 form .wdg_poll_01_options {        
		padding-bottom: 5px;
        border-bottom: 1px solid #CCC;
    }
    .wdg_poll_01 form .wdg_poll_01_options li {
        padding: 7px 0;
        background: url(../img/dotted-horizontal.html) repeat-x top;
    }
    .wdg_poll_01 form .wdg_poll_01_options li input {
        margin-right: 21px;
        margin-left: 10px;
    }

    .wdg_poll_01 form .wdg_poll_01_options li input[type="radio"]  {
        color: red;
    }

    .wdg_poll_01 form .wdg_poll_01_options li label {
        font-size: 14px;
        color: #232323;
        font-weight: normal;
    }
    .wdg_poll_01 form .wdg_poll_01_results {
        border-bottom: 1px solid #CCC;
        width: 100%;
        display: none;
    }
    .wdg_poll_01 form .wdg_poll_01_results:before,
    .wdg_poll_01 form .wdg_poll_01_results:after {
        content: "";
        display: table;
    }
    .wdg_poll_01 form .wdg_poll_01_results:after {
        clear: both;
    }
    .wdg_poll_01 form .wdg_poll_01_results {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    .wdg_poll_01 form .wdg_poll_01_results li {
        border-top: 1px dashed #CCC;
        clear: both;
        border-bottom: none;
        height: 44px;
    }
    .wdg_poll_01 form ul.wdg_poll_01_results li div:first-child {
        border: none;
        margin: 0;
        padding-top: 3px;
        padding-bottom: 10px;
        width: 69%;
        height: 29px;
        float: left;
        padding-left: 10px;
    }
    .wdg_poll_01 form .wdg_poll_01_results li.wdg_poll_01_typed div:first-child div {
        background-color: #c97811;
        float: left;
        width: 30%;
        height: 10px;
        margin: 0;
        margin-top: 5px;
        margin-right: 5px;
    }
    .wdg_poll_01 form .wdg_poll_01_results li div:first-child p.wdg_poll_01_quantity {
        color: #c97811;;
        float: left;
        font-size: 10pt;
    }
    .wdg_poll_01 form .wdg_poll_01_results li.wdg_poll_01_typeb div:first-child p.wdg_poll_01_quantity {
        color: #ea9a11;
    }

    .wdg_poll_01 form .wdg_poll_01_results li div:first-child p {
        font-size: 13px;
        font-style: italic;
        color: #232323;
    }
    .ie7 .wdg_poll_01 form .wdg_poll_01_results li div.wdg_poll_01_finalsc p {
        font-size: 13px;
        font-style: italic;
    }
    .ie8 .wdg_poll_01 form .wdg_poll_01_results li div.wdg_poll_01_finalsc p {
        font-size: 13px;
        font-style: italic;
    }
    .wdg_poll_01 form .wdg_poll_01_results li div:last-child {
        float: right;
        margin: 0;
        margin-top: 14px;
        padding: 0;
        text-align: right;
        color:#c97811;
        font-weight: bold;
        margin-right: 20px;
        width: 40px;
        font-size: 13px;
    }

    .ie7 .wdg_poll_01 form .wdg_poll_01_results li .wdg_poll_01_finalsc {
        float: right;
        margin: 0;
        margin-top: 14px;
        padding: 0;
        text-align: right;
        color:#3a3b8d;
        font-weight: bold;
        margin-right: 20px;
        width: 40px;
        font-size: 13px;
    }

    .ie8 .wdg_poll_01 form .wdg_poll_01_results li .wdg_poll_01_finalsc {
        float: right;
        margin: 0;
        margin-top: 14px;
        padding: 0;
        text-align: right;
        color:#3a3b8d;
        font-weight: bold;
        margin-right: 20px;
        width: 40px;
        font-size: 13px;
    }
    .wdg_poll_01 form .wdg_poll_01_results li.wdg_poll_01_typeb div.wdg_poll_01_finalsc {
        color:#ea9a11;
    }
    .wdg_poll_01 form div.wdg_poll_01_total span.wdg_poll_01_texttotal {
        font-size: 13px;
        font-style: italic;
        float: left;
        margin-top: 6px;
        padding-left: 10px;
        color: #a2a2a2;
    }
    .wdg_poll_01 form div.wdg_poll_01_total span.wdg_poll_01_totalvotes {
        color: #fff;
        background-color: #59a529;
        font-size: 11px;
        font-style: italic;
        float: right;
        margin-bottom: 10px;
        padding: 11px 29px;      
    }
    .wdg_poll_01 .wdg_poll_01_submitbutton {
        background: #59a529;
        border: 0;
        width: 93px;
        height: 32px;
        color: #fff;
        float: right;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        letter-spacing: 1px;
        margin-bottom: 10px;		
    }
    .wdg_poll_01_quantity{
        width: 40px;
    }
    .wdg_poll_01_finalsc{
        float: right;
    }
    .wdg_poll_01 form .wdg_poll_01_total{
        display: none;
    }
    .wdg_poll_01 div h4{
        letter-spacing: -1px;
        color: #232323;
    }
	.wdg_poll_01 div.str_pleca_01_title h3 {
		line-height: 31px;
		height:31px;
		width:165px;
	}

    .ts_poll_cont {
        clear: both;
        display: block;
        border-top: 1px dashed #ccc;
        color:#666;
        font-size: 14px;
}

ul.share_poll_tim_social {
    float: right;
    margin-top: 5px;
}

ul.share_poll_tim_social li {
    display: inline-block;
}

.share_poll_tim_social .btn_poll_twitter_off{
    background: url(http://i2.esmas.com.mx/comunidades/img/polls/bg_tw_off.png) no-repeat center center!important;
    width: 42px!important;
    border: none!important;
}
.share_poll_tim_social .btn_poll_facebook_off{
background: url(http://i2.esmas.com.mx/comunidades/img/polls/bg_fb_off.png) no-repeat center center!important;
border: none!important;
width: 42px!important;
}


.share_poll_tim_social .btn_poll_twitter_on{
    background: url(http://i2.esmas.com.mx/comunidades/img/polls/bg_tw_on.png) no-repeat center center!important;
    border: none!important;

}

.share_poll_tim_social .btn_poll_facebook_on{
    background: url(http://i2.esmas.com.mx/comunidades/img/polls/bg_fb_on.png) no-repeat center center!important;
    border: none!important;
}


  .share_poll_tim_social li {
        padding-top: 5px!important;
    }  

.share_poll_tim_social li{        
        padding: 0!important;
    }

@media screen and (min-width: 624px) {
    .share_poll_tim_social li{
        width: 45px!important;
        float: left!important;        
        padding: 0!important;
    }
    .share_poll_tim_social .poll_text_share{
    width: 198px!important;
}

}